.list-group-item {
  padding-right: 0;
  border: none;
  
  .fa-fw {
    margin-right: 5px;
  }
}

.label-as-badge {
  margin-right: 10px;
}

.indent-category {
  margin-left: 25px;
}

.selected {
  color: $primary !important;
}