<div ng-if="c.counts.all > 0 || c.counts.implemented > 0">
  <!-- Menu items -->
  <div class="recommendations-menu">
    <ul class="nav nav-tabs hidden-xs" role="tablist">
      <li class="item" id="tab-all" ng-click="c.tab = c.states.all" ng-keydown="c.switchTab($event, 0)" role="tab" tabindex="-1">
        <a class="r-tab" ng-class="c.tab === c.states.all ? 'selected' : ''" href>${Recommendations}  &nbsp; ({{c.counts.all}})</a>
      </li>
      <li class="item" id="tab-implemented" ng-click="c.tab = c.states.implemented" ng-keydown="c.switchTab($event, 1)" role="tab" tabindex="-1">
        <a class="r-tab" ng-class="c.tab === c.states.implemented ? 'selected' : ''" href>
          ${Implemented}  &nbsp; ({{c.counts.implemented}})
        </a>
      </li>
      <li class="item" id="tab-accepted" ng-click="c.tab = c.states.accepted" ng-keydown="c.switchTab($event, 2)" role="tab" tabindex="-1">
        <a class="r-tab" ng-class="c.tab === c.states.accepted ? 'selected' : ''" href>
          ${Saved} &nbsp; ({{c.counts.accepted}})
        </a>
      </li>
    </ul>

    <div class="mobile-menu visible-xs">
      <select class="sn-select-basic" name="r-tab-selector"
              id="r-tab-selector" ng-model="c.tab" aria-label="${Select type}">
        <option value="{{c.states.all}}">${Recommendations}  &nbsp; ({{c.counts.all}})</option>
        <option value="{{c.states.implemented}}">${Implemented}  &nbsp; ({{c.counts.implemented}})</option>
        <option value="{{c.states.accepted}}">${Saved} &nbsp; ({{c.counts.accepted}})</option>
      </select>
    </div>
  </div>

  <div class="recommendations-container">

    <!-- Empty list messages -->
    <div class="alert alert-info" ng-show="c.counts[c.tab] <= 0">
      <div ng-show="c.tab == c.states.all">${No recommendations for this month}</div>
      <div ng-show="c.tab == c.states.accepted">${No saved recommendations}</div>
      <div ng-show="c.tab == c.states.implemented">${No implemented recommendations}</div>
    </div>

    <!-- Panel -->
    <div class="recommendation panel"
         ng-repeat="id in data.recommendations.idList | filter: c.recoFilter | limitTo: options.showLimits.current track by $id(data.recommendations.idMap[id])"
         ng-init="reco = data.recommendations.idMap[id]" ng-show="reco.state != c.states.rejected && (c.tab === reco.state || c.tab == c.states.all)"  id="{{reco.sys_id}}">
      <div class="panel-body">

        <div class="row">

          <div class="col-xs-2 col-sm-1 implemented-container" ng-if="c.tab === c.states.implemented">
            <div class="implemented-number r-dib bg-primary" aria-hidden="true" ng-if="!!reco.letter"><strong>{{reco.letter}}</strong></div>
          </div>

          <div class="col-xs-10 col-sm-11" ng-class="(c.tab === c.states.implemented) ? 'col-sm-11' : 'col-xs-12 col-sm-12'">

            <!-- Content section -->
            <div class="row">
              <div class="col-xs-11">
                <h4 class="r-name">{{reco.name}}</h4>
                <div class="r-content" ng-bind-html="c.trustAsHtml(reco.content)"></div>
                <div class="row r-actions">
             		<div class="col-xs-12">
                		<div class="btn-group">
                  			<a class="btn btn-primary r-get-started" id="get-started-{{$index}}" ng-keydown="c.focusTabs($event, $index)" ng-if="!!reco.url && reco.state != c.states.implemented"
                     		href="{{reco.url}}" target="_blank">${Get Started}</a>
                  			<button class="btn btn-link r-mark-implemented" ng-if="reco.state != c.states.implemented" ng-class="!reco.url ? 'first-btn' : ''"
                          	ng-click="c.updateState(id, c.states.implemented)">${Mark as Implemented}</button>
                  			<button class="btn btn-link r-save" ng-if="reco.state === c.states.none"
                          	ng-click="c.updateState(id, c.states.accepted)">${Save for Later}</button>
                  			<div class="r-state-info r-saved-date" ng-if="reco.state === c.states.accepted">{{reco.savedDisplay}}</div>
                  			<div class="r-state-info r-implemented-date" ng-if="reco.state === c.states.implemented">{{reco.implementedDisplay}}</div>
                		</div>
                  </div>
              </div>
              </div>
              <div class="col-xs-1 text-right" >
                <button class="btn btn-link remove-icon" id="close-{{$index}}" ng-click="c.remove(id)"
                        ng-if="reco.state != c.states.implemented" aria-label="${Remove recommendation}">
                  <span class="fa fa-close"></span>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="row" ng-if="c.counts[c.tab] > 0">
      <div class="col-xs-12 text-center">
        <button class="btn btn-default" ng-show="c.canShowMore(c.tab)"
                ng-click="c.showMore(c.tab)">${Show more}</button>
        <button class="btn btn-default" ng-show="options.showLimits.current > options.maxResults"
                ng-click="c.showLess(c.tab)">${Show less}</button>
      </div>
    </div>
  </div>

</div>