<div role="region" aria-label="${Current Change calendar}">
  <div ng-if="!c.change" class="panel panel-default">
		<div class="panel-body wrapper-lg text-center">
				${No change selected}
		</div>
	</div>
  <div ng-if="c.change" sn-cab-focus-in-out="c.onFocusInOut($isFocusIn)">
    <div ng-if="!c.canRead" class="panel panel-default">
      <div class="panel-body wrapper-lg text-center">
          ${You do not have read permission for this Change record}
      </div>
    </div>
    <sn-cab-change-calendar ng-if="c.canRead"
                            key-nav="{{c.keyNav}}"
                            config-description="${Set filters to see change records as related to the CAB Agenda item being viewed.}"
                            change="c.change"
                            on-warn="c.onWarn($msg)"
                            config-options="c.configOptions"
                            is-config-available="{{c.data.allowConfig}}"
                            auto-save-and-fetch-options-as-user-pref="true"
                            is-updatable="{{c.canWrite}}"
                            timeformat='data.timeFormat'
                            date-time-format='data.dateTimeFormat'></sn-cab-change-calendar>
  </div>
</div>