<div>
<div>
   <h4 ng-show="data.attendeeData.attendees.length == 0" class="m-n">
      <span>${No attendees}</span>
   </h4>
	<div id='btn_meeting_host' ng-if='canBecomeHost()'>
		<i ng-show='c.isHostingInProgress' class='icon-loading'></i>
		<input type='button'  class="btn btn-sm btn-primary"
		value='${Host}' ng-click="hostMeeting()" ng-disabled='c.isHostingInProgress' ng-attr-aria-label = "{{c.data.ariaLabelForHosting}}"/>
	</div>
</div>
<div class="scrollpane">
  <div role="region" ng-attr-aria-labelledby="attendeeSection{{$index}}" ng-repeat='reason in data.attendeeData.sectionOrder track by $index'>
      <div ng-attr-id="attendeeSection{{$index}}" class="section" ng-if="data.attendeeData.sectionData[reason].attendeeIds.length > 0">{{::data.attendeeData.sectionData[reason].name}}</div>
      <div role="list">
        <div role="listitem" ng-repeat="attendeeId in data.attendeeData.sectionData[reason].attendeeIds track by $index" tabindex="0">
            <div ng-class="{'user user-last':$last, 'user':!$last}">
                <div class="avatar-card">
                    <div class="avatar-wrapper" aria-hidden="true"><sn-avatar primary="attendeeId" show-presence="true"></sn-avatar></div>
                    <div class="avatar-name">{{::data.attendeeData.attendees[attendeeId].attendee.display_value}}<br/>
                      <small>{{data.attendeeData.attendees[attendeeId].attendance.display_value}}</small></div>
                </div>
            </div>
        </div>
  	 </div>
  </div>
  <div tabindex="0" style="font-size:5px;" aria-label="${End of list}">&nbsp;</div>
</div>
</div>