<div id="agenda-item-form-widget" class="panel-shift" role="region" aria-label="${Current Change record}" tabindex="0">
	<div class="panel panel-default">
		<div class="panel-body">
			<div ng-if="!currentItemOrLocalStateSelected &amp;&amp; (meetingCancelled || meetingFinished || agendaFinished || (!data.f._view.length &amp;&amp; !data.emptyStateTemplate))">
				<!-- Show meeting is not yet started OR Meeting finished status OR Meeting cancelled status, when no agenda item is selected -->
				<div class="no-record-msg-box">
					<div class="message-icon-box">
						<div class="circle">
							<span class="icon-history"></span>
						</div>
					</div>
					<div ng-if="meetingCancelled">
						<span class="no-record-msg">${This meeting has been cancelled.}</span>
					</div>
					<div ng-if="!meetingCancelled">
						<div ng-if="!meetingFinished &amp;&amp; !agendaFinished">
							<span class="no-record-msg">${The meeting has not started. A record will display once the meeting begins.}</span>
							<br><br>
							<span ng-if="isCABManager() && isMeetingPending()" class="meeting-status" ng-click="startMeeting()">${Start meeting}</span>
						</div>
						<div ng-if="agendaFinished &amp;&amp; !meetingFinished">
							<span class="no-record-msg">${The agenda has been completed.}</span>
							<br><br>
							<span ng-if="isCABManager() && isMeetingInProgress()" class="meeting-status" ng-click="endMeeting()">${End meeting}</span>
						</div>
						<span ng-if="meetingFinished" class="no-record-msg">${The meeting has finished.}</span>
					</div>
				</div>
			</div>
			<div ng-if="((!meetingFinished &amp;&amp; !agendaFinished &amp;&amp; !meetingCancelled) || currentItemOrLocalStateSelected)">
				<!-- Agenda item is selected, so form data.f starts populating -->
				<div ng-if="data.isValid">
					<!-- If data is valid ($sp.getRecord works), but form_sections are not getting populated due to some errors, show 'no elements to display' message -->
					<div ng-if="!data.f || (!data.f._view.length && data.hideRelatedLists && !data.emptyStateTemplate) || (!data.f._sections.length)">
						<div class="wrapper-lg text-center">
							${No elements to display}
						</div>
					</div>
					<div ng-if="data.f &amp;&amp; data.f._view.length">
						<!-- If data is valid (getRecord() works, and data.f is populated then show the form)-->
						<div>
							<sp-model form_model="data.f" mandatory="mandatory"></sp-model>
							<!-- form -->
						</div>
					</div>
				</div>
				<div ng-if="data.isValid == false">
					<!-- If data is invalid (getRecord() fails, show the respective errors) -->
					<div ng-if="!data.emptyStateTemplate" class="panel panel-default">
						<div class="panel-body wrapper-lg text-center">
							${Record not found}
						</div>
					</div>
					<div ng-if="data.emptyStateTemplate" class="panel-shift">
						<div class="empty-state-wrapper panel panel-default" ng-include="data.emptyStateTemplate"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>