<div class="panel panel-{{::options.color}} b">
	<div class="panel-heading">
		<h4 class="panel-title">
      <i ng-if="options.glyph" class="fa fa-{{options.glyph}} m-r"></i>
			${Change My Password}
		</h4>
	</div>
	<div class="panel-body">
    <div ng-hide="c.changeSuccess">
      <label class="field-label" for="current_password">{{::data.currentPasswordMsg}}</label>
      <div class="m-b-sm">
        <input class="form-control" type="password" ng-model="c.current_password" 
               ng-required="true" id="current_password" name="current_password" />
      </div>
      <label class="field-label" for="new_password">{{::data.newPasswordMsg}}</label>
      <div class="m-b-sm">
        <input class="form-control" type="password" ng-model="c.new_password" 
               ng-required="true" id="new_password" name="new_password" />
      </div>
      <label class="field-label" for="confirm_password">{{::data.confirmPasswordMsg}}</label>
      <div class="m-b-sm">
        <input class="form-control" type="password" ng-model="c.confirm_password" 
               ng-required="true" id="confirm_password" name="confirm_password" password-match />
      </div>
    </div>
    
    <div class="m-b-sm pwd-hint" role="alert" ng-show="c.errorMessage() || c.resultMessage">
      <span class="text-danger">{{c.errorMessage()}}</span> 
      <span class="text-primary" ng-class="{'text-danger': c.error}" ng-bind-html="c.resultMessage"></span>
    </div>
    
    <div class="m-b-xl">
      <button type="submit" ng-hide="c.changeSuccess" class="btn btn-primary pull-right m-b-lg m-t-sm" 
              ng-disabled="c.disableUpdate()" id="update" name="update" 
              ng-click="c.action()">${Update}</button>
    </div>
</div>

