<div class="fd-actions-example">
  <div class="row">
    
    <div class="col-xs-12 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Actions</h2>
        </div>
        <div class="panel-body">
          <div class="btn-group btn-group-vertical" role="group">
            <div class="btn-group" role="group"
                 ng-repeat="action in c.actions">
              <button ng-click="c.triggerAction(action.action_name)"
                      class="btn btn-default"
                      ng-class='{"btn-primary": action.primary}'>
                {{action.name}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Form</h2>
        </div>
        <div class="panel-body">
          <widget id="pi-form-decorated" options="data.opts"></widget>
        </div>
      </div>
    </div>
    
  </div>
</div>