<div class="pi-form-decorated">
  
  <!-- If there are NO errors -->
  <div ng-if="::!c.data.errors.length">
    
    <!-- Show the form -->
    <sp-model form-model="c.data.form"
              template-url="pi-form-decorated"
              mandatory="true"></sp-model>
    
    <!-- Show the UI Actions -->
    <div class="fd-ui-actions" ng-if="::c.data.show_actions">
      <div class="fd-ui-action"
           ng-repeat="action in c.actions"
           ng-class="{'fd-uia-primary': action.primary}">
        <button ng-click="c.triggerAction(action)">{{::action.name}}</button>
      </div>
    </div>
    
  </div>
  
  <!-- If there ARE errors -->
  <div ng-if="::c.data.errors.length">
    <div class="panel-body wrapper-lg text-center">
      <div ng-repeat="error in c.data.errors">{{::error}}</div>
    </div>
  </div>
</div>