<div class="panel panel-{{c.options.color}} b">
  <div class="panel-heading">
    <h4 class="panel-title">{{c.options.title}}</h4>
  </div>
  <div class="list-group" ng-if="data.list.length > 0">
    <div ng-repeat="item in data.list" class="block list-group-item" >
      <a ng-click="onClick($event, item, item.url, {})" href="javascript:void(0)" >
        <span ng-if="data.image_field" class="pull-left thumb-sm avatar m-r">
          <img ng-src="{{item.image_field}}" alt="..." class="img-circle">
        </span>
        <div >
          <div ng-class="{'l-h-40': !item.secondary_fields.length}">{{item.display_field}}</div>
          <small class="block text-muted m-b-xs" ng-repeat="f in item.secondary_fields">
            <span ng-if="!$first"> • </span>
            <span ng-switch="f.type" title="{{::f.label}}">
              <span ng-switch-when="glide_date">
                <sn-time-ago timestamp="::f.value" />
              </span>
              <span ng-switch-when="glide_date_time">
                <sn-time-ago timestamp="::f.value" />
              </span>
              <span ng-switch-default="">{{f.display_value}}</span>
            </span>
          </small>
        </div>
      </a>
      <div ng-if="item.cl.length > 0" ng-show="!item.expand" class="requested-items-flex-container">
        <div class="flex-item" ng-click="toggle($event, item)"><img src="images/filter_hide16.gifx" /></div>
        <div class="flex-item">
          <span ng-repeat="stage in item.cl">
            <span ng-if="stage.value == item.stage">
              <img src="/images/sp-icon-check-circle.png" data-toggle="tooltip" data-placement="top" ng-attr-title="{{stage.label}}" />
            </span>
            <span ng-if="stage.value != item.stage">
              <img src="/images/sp-icon-empty-circle.png" data-toggle="tooltip" data-placement="top" ng-attr-title="{{stage.label}}" />
            </span>
          </span> 
        </div>
      </div>
      <div ng-if="item.cl.length > 0" ng-show="item.expand" class="requested-items-flex-container">
        <div class="flex-item" ng-click="toggle($event, item)"><img src="images/filter_reveal16.gifx" /></div>
        <div class="flex-item">
          <div ng-repeat="stage in item.cl">
            <div ng-if="stage.value == item.stage" class="stage-on">
              <img src="/images/sp-icon-check-circle.png" />
              {{stage.label}}
            </div>
            <div ng-if="stage.value != item.stage" class="stage-off text-muted">
              <img src="/images/sp-icon-empty-circle.png" />
              {{stage.label}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <a href="?id=sc_request&table=sc_request&sys_id={{data.sys_id}}">${View Full Request}</a>
  </div>
  <div class="error" ng-if="data.error || data.list.length <= 0">
    {{data.errString}}
  </div>
</div>