<div class="document-acknowledge-task" ng-class="::{'hidden-xs' : options.hide_xs}" ng-if="!data.task.finished && data.task.assigned_to_me" ng-init="init(user.sys_id)">
  <script src="scripts/jquery.signaturepad.min.js"></script>
  <div>
    <hr-skip-task />  
  </div>
  <div id="documentFrame-{{data.task.sys_id}}" class="panel panel-{{::options.color}} b">
    <div>
      <div class="header">
        <!-- IE fixes - Hiding pop over window button -->
        <i ng-show="!isIE()" class="ie-popover fa fa-expand hidden-xs" ng-click="c.showDoc = !c.showDoc"></i>
        <!-- IE fixes ends -->       
      </div>
      <!-- Using IFrame because of IE issues -->
      <div class="iframe-container">
      	<iframe id="credential-doc" src="{{data.attachmentInfo.attachmentUrl}}" type="application/pdf" class="animate"></iframe>
      </div>
    </div>

    <div class="pop-footer">
      <span ng-if="!c.showDoc">
        <span class="label">${Your password}:</span>
        <input type="password" aria-label="Enter your credentials here to acknowledge the document" id="password-{{data.task.sys_id}}" ng-model="data.password" class="password-input form-control"/>
        <button type="button" class="btn btn-primary" id="agree-button" ng-click="authenticateUser(data.task.sys_id, data.user_id, data.user_name);">${Yes, I agree}</button>
      </span>
    </div>
  </div>

  <!-- popover window -->
  <div id="docPop" class="animated" ng-if="c.showDoc">
    <div class="container inner">
      <div class="pop-header">
        <span class="close-cross" ng-click="c.hidePop();">&times;
        </span>
      </div>

      <object id="docFrame-{{data.task.sys_id}}" data="{{data.attachmentInfo.attachmentUrl}}" class="animate hidden-xs" type="application/pdf" >
        <embed src="{{data.attachmentInfo.attachmentUrl}}" type="application/pdf" />
        <param name="view" value="Fit" />
      </object>
      <a ng-if="data.attachmentInfo.attachmentUrl" ng-href="{{data.attachmentInfo.attachmentUrl}}" class="visible-xs pdf-link" target="_blank">
        <i class="fa fa-hand-o-right"></i>
        ${Click here to open document}
      </a>

      <div class="pop-footer">
        <span>
          <span class="label">${Your password}:</span>
          <input type="password" aria-label="Enter your credentials here to acknowledge the document" id="password-{{data.task.sys_id}}" ng-model="data.password" class="password-input form-control"/>
          <button type="button" class="btn btn-primary" id="agree-button" ng-click="authenticateUser(data.task.sys_id, data.user_id, data.user_name);">${Yes, I agree}</button>
          <button id="close-popup-button" type="button" class="btn btn-default hidden-xs" ng-click="c.hidePop();">${Cancel}</button>
        </span>
      </div>
    </div>

    <hr-show-updating />
  </div>
  <!-- popover window -->
</div>
<div ng-if="!data.task.assigned_to_me && !data.task.finished">
	<hr-task-action caption="{{data.caption}}" timestamp="::data.task.created" created="true" />
</div>
<div ng-if="data.task.finished">
	<hr-task-action tag-id="task-completed-small" caption="${Document acknowledged}" completed-by="{{data.completed_by}}" timestamp="::data.task.closed_at"/>
</div>



