<div class="panel panel-{{::data.color}}">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span ng-if="data.glyph" class="m-r">
        <glyph sn-char="{{::data.glyph}}" />
      </span>
      <a href="?id=kb_topic&kb_topic={{::data.kb_topic}}">{{::data.title}}</a>
    </h3>
  </div>
  <div class="panel-body panel-body-250">
    <div class="m-b panel-link" ng-repeat="i in data.items">
      <a href="?id=kb_article&sys_id={{::i.sys_id}}">{{::i.title}}</a>
    </div>
    <div ng-if="data.items.length == 0">
      (${No articles})
    </div>
  </div>
</div>
