<div>
  <div ng-show="false" class="col-md-12"><input ng-model="kb_view_filter" placeholder="{{data.filterMsg}}"/></div>
  <h4 class="wrapper-md text-center">{{data.kb_title}}</h4>
  <div class="col-md-3 col-sm-4 col-xs-6" ng-show="filtered.length > 0" ng-repeat="cat in data.categories" ng-if="cat.documents.length">
    <a href="?id=kb_category&kb_category={{cat.sys_id}}">
      <div class="panel panel-default" style="height:120px;overflow:hidden">
        <h4 class="text-center"  style="vertical-align:middle">{{cat.label}}</h4>
        <div ng-if="filtered.length != 1" class="small text-center">${{{filtered.length}} articles}</div>
        <div ng-if="filtered.length == 1" class="small text-center">${{{filtered.length}} article}</div>
        <div ng-show="false" ng-repeat="doc in filtered = (cat.documents | filter : kb_view_filter)">
        </div>
      </div>
    </a>
  </div>
</div>