<div ng-show="$root.facetSubscribed && c.visible">
<div class="kb-facet hidden-xs hidden-sm">
  <div class="panel panel-{{::options.color}}">
    <div class="panel-heading hidden-sm hidden-xs" ng-class="{'remove-bottom-border':!c.isLoading}">
      <h4 class="panel-title">
        <span ng-if="::options.glyph"><fa name="{{::options.glyph}}" /></span>{{::options.title}}</h4>
    </div>
   <div ng-show="c.isLoading" class="loading-icon"><i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:24px"></i><span class="sr-only">${Loading}...</span></div>
  </div>
</div>
</div>

<style>
@media only screen and (max-width: 991px) {
  .sidefacets-no-padding {
    padding-left : 0px !important;
    padding-right : 0px !important;
  }
  
}
</style>