<div ng-if="data.versionWarningMessage && c.options.show_version_info != 'false'" class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div ng-bind-html="data.versionWarningMessage">
  </div>
</div>

<div ng-if="::data.isValid" class="panel panel-default">
  <div class="panel-heading kb-panel-heading">
    <span class="panel-title">
      <div class="row">
        <span class="col-md-5 kb-panel-title-header">
          <div class="kb-number-info">
            <span>{{data.number}}</span> 
            <span ng-if="data.showHistory && c.options.show_version_info != 'false'"> - <a ng-click="c.toggleVersions()" href="javascript:void(4)"> {{data.versionInfo}}</a> 
              <span ng-if="data.workflowState">{{data.workflowState}}</span>
            </span>
          </div>
        </span>
        <div ng-if="!$root.hideFeedbackOptions && c.options.hide_all_actions != 'true'" class="col-md-7 kb-end-buttons">
          <div class="dropdown kb-end-buttons">
            <span class="hidden-sm hidden-xs" ng-if="!data.externalArticle">
              <a tabindex="0" ng-mouseover="c.handleSubscribeButtonFocus()" 
                 ng-if="data.properties.isSubscriptionEnabled" 
                 ng-mouseleave="c.handleSubscribeButtonBlur()"
                 ng-focus="c.handleSubscribeButtonFocus()"
                 ng-blur="c.handleSubscribeButtonBlur()"
                 role="button"
                 class="btn btn-default kb-subscribe" ng-click="c.handleSubscription()" href="javascript:void(5)">
                <span  class="kb-sub-icon" aria-label="{{data.subscribeLabel}}">
                  {{data.subscribeLabel}}
                </span>
              </a>
            </span>
            <button ng-if="c.showActionMenu()" class="btn btn-default dropdown-toggle kb-dropdown-button" type="button" data-toggle="dropdown" aria-label="{{data.messages.ACTION_MENU}}">
							<span class="glyphicon glyphicon-option-horizontal kb-action-menu-padding"></span>
           	</button>
            <ul id="kbActionMenuList" class="dropdown-menu dropdown-menu-right">
              <li class="kb-menu-entry hidden-md hidden-lg visible-sm visible-xs" ng-if="data.properties.isSubscriptionEnabled && !data.externalArticle">
              <a ng-mouseover="c.handleSubscribeButtonFocus()" 
               ng-if="data.properties.isSubscriptionEnabled && c.options.hide_subscription != 'true'" 
               ng-mouseleave="c.handleSubscribeButtonBlur()"
               ng-focus="c.handleSubscribeButtonFocus()"
               ng-blur="c.handleSubscribeButtonBlur()"
               href="javascript:void(6)"  
               ng-click="c.handleSubscription()">
              <span  class="kb-sub-icon" aria-label="{{data.subscribeLabel}}">
              	{{data.subscribeLabel}}
              </span>
            </a>
              </li>
              <li class="kb-menu-entry" ng-if="c.showFlagArticle"><a href="javascript:void(1)" data-toggle="modal" ng-click="c.launchFlagModal()">{{data.messages.FLAG_ARTICLE}}</a></li>
              <li class="kb-menu-entry" ng-if="c.showCreateIncident"><a target="_blank" href="{{c.createIncidentURL}}">{{c.createIncidentLabel}}</a></li>
              <li class="kb-menu-entry" ng-if="data.properties.isEditable" ><a target="_blank" href="kb_knowledge.do?sys_id={{data.article_sys_id}}&sysparm_stack={{c.stackUrl}}">{{data.messages.EDIT}}</a></li>
            </ul>
          </div>
					<!-- Flag article modal -->

        </div>
        
      </div>
    </span>

  </div>

  <div class="panel-body kb-wrapper">
	  <div id="kbVersionInfo" class="kb-version-info" style="display:none" ng-if="data.showHistory && c.options.hide_version_info != 'true'" class="kb-version-info">
    	<div class="kb-version" ng-repeat="version in data.versionList">
      <span ng-if="!version.isCurrent"><a  href="?id=kb_article_view&sys_kb_id={{version.sysId}}">{{version.versionNumber}}</a> - {{version.versionText}}</span>
      <span ng-if="version.isCurrent"><b>{{version.versionNumber}} - {{version.versionText}}</b></span>
    </div>    

    
  </div>

    <h2 class="widget-header kb-title-header">{{::data.shortDesc}}</h2>
      <div class="kb-language-block pad-right text-nowrap" ng-if="data.langList.length > 1" ng-cloak>
        <div class="kb-language">
          <div class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" aria-label="${Click to view the article in other available languages}" aria-haspopup="true" data-toggle="dropdown">
              <span class="lang-icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
              <span class="lang-data hidden-xs">${{{c.selectedLanguage.label}}}</span>
            </a>
           <ul class="dropdown-menu dd-right-menu" role="menu">
             <li ng-repeat="item in data.langList" role="menuitem"><a title="${{{item.label}}}" role="button" ng-click="c.selectLanguage($index)" href="javascript:void(0);">${{{item.label}}}</a></li>
          </ul>
          </div>
        </div>
   		 </div>
       <span ng-if="data.revisionString" class="author pad-right text-nowrap">
        <span ng-if="data.langList.length > 1" class="pad-right">&#8226;</span>
        <i class="fa fa-user pad-right" />
        {{data.revisionString}}
      </span>
			<span ng-if="data.externalArticle" class="pad-right text-nowrap">
        {{data.messages.EXTERNAL_CONTENT}}
      </span>
      <span class="published pad-right text-nowrap">
        <span class="pad-right">&#8226;</span> <i class="fa fa-calendar pad-right" />
        <sn-time-ago timestamp="data.sys_updated_on"/>
      </span>
      <span ng-if="data.viewCount == 1" class="views pad-right text-nowrap">
        <span class="pad-right">&#8226;</span> <i class="fa fa-eye pad-right" />
        ${{{::data.viewCount}} View}
      </span>
      <span ng-if="data.viewCount > 1" class="views pad-right text-nowrap">
        <span class="pad-right">&#8226;</span> <i class="fa fa-eye pad-right" />
        ${{{::data.viewCount}} Views}
      </span>
      <span class="text-nowrap" ng-if="data.properties.showKBStarRating && data.properties.showKBRatingOptions && data.avgRating >= 0" title="{{::data.avgRating}} rating">
        <span class="pad-right">&#8226;</span> <uib-rating ng-model="::data.avgRating" max="5" aria-label="{{::data.messages.ARTICLE_RATING}}"readonly="true"/>
      </span>

  <div class="row community-attribution" ng-if="data.hInfo">
    <div class="contributor pad-right" ng-if="data.hInfo.contributor && data.hInfo.contributor.userId">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <span class="pad-lr pad-right" ng-bind-html="data.hInfo.profileMessage"></span>
      <span class="discussion-published pad-right pre-bullet-icon text-nowrap" ng-if="data.hInfo.postedOn">
        ${Posted}<sn-day-ago date="data.hInfo.postedOn"/>
      </span>
      <span class="discussion-link pad-right pre-bullet-icon text-nowrap" ng-if="data.hInfo.title">
        <a href="?id=community_question&sys_id={{data.hInfo.sourceRoot}}" target="_blank_cm1">${Link to Discussion}</a>
      </span>
    </div>
    </div>

  <hr class="kb-header-line"/>
  
		<div class="kb-article-content" ng-if="::data.articleType != 'wiki'" ng-bind-html="::data.kbText"></div>
    <div class="kb-article-content" ng-if="::data.articleType == 'wiki'" ng-bind-html="::data.kbWiki"></div>
	<hr class="kb-permalink-separator"/>
	<p class="pull-right kb-permalink"><a href="javascript:void(2)" ng-click="c.copyPermalink()">{{::data.messages.COPY_PERMALINK}}</a></p>  
  </div>
</div>

<div ng-if="!data.isValid && !data.knowledgeExists" class="col-sm-12 panel-warning">
  <div class="panel-heading">{{data.messages.RECORD_NOT_FOUND}}</div>
</div>

<div ng-if="!data.isValid && data.knowledgeExists" class="col-sm-12 panel-warning">
  <div class="panel-heading">{{data.messages.INSUFFICIENT_PREVILEGES}}</div>
</div>


<style>
  #uiNotificationContainer{
  top : 10px;
}
@media only screen and (max-width :992px){
  .kb-wrapper{
    padding : 10px !important;
  }
  .kb-menu-entry{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .kb-version-info{
 		margin-top : 5px !important;
	}
  .kb-number-info{
    margin-top : 6px !important;
  }

}
  
</style>
