<div class="kb-wrapper" ng-if="data.isLoggedInUser && !$root.hideFeedbackOptions && $root.isValid">
  

  <div ng-if="$root.isValid">
    <form class="form-group">
      <span class="visible-md visible-lg hidden-sm hidden-xs">
          <h4 ng-if="c.showComments" class="kb-comments-header" id="commentLabel">{{c.commentsPrompt}}</h4>
		      <span ng-if="c.showRatings" ng-class="c.rateStyle"><h4 class="kb-comments-header"><span class="kb-rate-article">${Rate this article}</span><uib-rating ng-model="data.rating" max="5"></uib-rating></h4></span>
      </span>
      <span class="visible-xs visible-sm hidden-md hidden-lg">
		    <div ng-if="c.showRatings" class="kb-rate-mobile" width="100%"><h4><span class="kb-rate-article">${Rate this article}</span><uib-rating ng-model="data.rating" max="5"></uib-rating></h4></div>
        <h4 ng-if="c.showComments" width="100%" id="commentLabel">{{c.commentsPrompt}}</h4>
      </span>

      <textarea ng-if="c.showComments" aria-labelledby="commentLabel" ng-model="::data.comments" class="form-control kb-comment-input" rows="2" id="comment"></textarea>
			<div ng-if="c.showComments" class="kb-end-button">
        <button id="submit" ng-click="submitComment()" class="btn btn-primary comments-submit" ng-disabled="!data.comments">
          {{$root.messages.SUBMIT}}
        </button>        
      </div>

    </form>  
  </div>
  
  <div ng-if="data.response" ng-class="{'alert-success':success, 'alert-danger': !success}" class="alert">{{::data.response}}</div>
  
  <hr ng-if="c.showComments || c.showRatings" class="kb-line"/>
  
  <div ng-if="c.showComments">
    <span ng-if="$root.comments.length > 0">
      <h4 class="kb-comments-header">{{$root.messages.COMMENTS}}</h4>
      <hr class="kb-line"/>
    </span>



    <div ng-if="$root.comments" ng-repeat="feedback in $root.comments">
      <div>
        <p style="font-weight: bold" class="author pad-right kb-comments-list">
           {{::feedback.userName}}
            <span class="published pad-right">
              <span class="pad-right"> - </span>
              <span ng-if="feedback.justNow === 'Y'">{{$root.messages.JUST_NOW}}</span>
              <sn-time-ago ng-if="!feedback.justNow" timestamp="::feedback.createdOn"/>
            </span>
        </p>
        <p class="break-word kb-comments-list" style="white-space: pre-wrap" ng-bind-html="feedback.commentText"></p>
        <hr class="kb-line"/>

      </div>
    </div>
    
  </div>
</div>

<style>
@media only screen and (max-width :992px){
  .kb-wrapper{
    padding : 15px !important;
  }
  .kb-container-column{
    padding-left : 0px;
    padding-right: 0px;
    padding-top : 0px;
  }
}
  
  
</style>
