<div class="kb-wrapper" ng-if="data.isLoggedInUser && $root.properties.showKBRatingOptions && $root.properties.showYesNoRatings && !$root.hideFeedbackOptions && $root.isValid && !c.hide">
  <span>
  	<span>
      <h4 ng-if="!c.submitted" class="kb-helpful-text">{{c.helpfulPrompt}}</h4>
      <button type="button" ng-if="!c.submitted" name="useful_yes" class="btn btn-success btn-question kb-button" ng-click="c.action('useful_yes')">${Yes}</button>
      <button type="button" ng-if="!c.submitted" name="useful_no" class="btn btn-default btn-question kb-button" ng-click="c.action('useful_no')">${No}</button>
      <p ng-if="c.options.show_percent_helpful != 'false' && c.showPercentHelpful()" class="sp-helpful-percent">{{$root.helpfulContent}}</p>
    </span>  


  <span class="alert alert-success" ng-if="c.data.response">
    {{c.data.response}}
  </span>

  </span>
  <hr class="kb-line"/>
</div>


<style>
@media only screen and (max-width :992px){
  .kb-wrapper{
    padding : 10px !important;
  }

  h4{
    margin : 0px !important;
  }
}
  
</style>