<div class="kb-list-block" ng-if="c.options.always_show || c.options.result.length">
  <div class="panel panel-{{::c.options.color}} b">
    <div class="panel-heading" ng-class="{'b-b': !c.options.color}"> <h4 class="panel-title" ng-bind="::options.title">
      <fa ng-if="::options.glyph" name="::{{options.glyph}}" class="m-r-sm" /></h4>
    </div>
    <div class="list-group hide-x-overflow" style="max-height: {{::c.options.panel_body_height || 'none'}}; overflow-y: auto;">
      <div ng-if="c.options.result.length > 0" role="group" ng-repeat="item in c.options.result | limitTo: c.options.max_records | orderBy : 'count' :c.options.reverse" class="list-group-item kb-list-item">       
        <div class="main_text">
          <a ng-href="{{((item.direct === true && c.data.useDocumentViewer == true) || item.external_link) ? '#art' : item.link}}" target="_self" ng-click="((item.direct === true && c.data.useDocumentViewer == true) || item.external_link) ? c.openArticleAttachment(item.external_link || (item.link + '&view=true'), item.id, item.external_link) : ''">
            <div ng-switch on="item.display_field.type" ng-class="{'l-h-40': !item.secondary_fields.length}">
              <span class="translated-html" ng-switch-when="translated_html" ng-bind-html="item.display_field"></span>
              <div ng-switch-default>{{item.display_field}}</div>
            </div>
          </a>
        </div>
        <small>
          <div class="secondary-info">
            <span class="about-outer-span">
              <span ng-repeat="f in item.secondary_fields">
                <span ng-if="f.value || f.name == 'rating'">
                  <span ng-switch="f.name" title="{{::f.label}}"
                        class="art-label">
                    <span ng-switch-when="rating">
                      <span ng-if="!$first" class="dot" aria-hidden="true"> • </span>
                      <span class="kb-rating-stars no-wrap" disabled="true" aria-hidden="true" ng-init="ratingVal = c.roundOff(f.value)">
                        <uib-rating ng-model="ratingVal" max="5" readonly="true"/>
                      </span>
                    </span>
                    <span ng-switch-when="sys_view_count">
                      <span ng-if="!$first" class="dot" aria-hidden="true"> • </span>
                      <span class="no-warp">{{f.value}} ${Views}</span>
                    </span>
                    <span ng-switch-when="workflow_state">                        
                      <span ng-if="!$first" class="dot" aria-hidden="true"> • </span><span class="no-warp">{{f.display_value}} ${State}</span>
                    </span>
                    <span ng-switch-when="external">                        
                      <span ng-if="f.value == 'true'">
                        <span ng-if="!$first" class="dot" aria-hidden="true"> • </span>{{c.data.externalContentLabel}}
                      </span>
                    </span>
                    <span ng-switch-default="" ng-switch="f.type">
                      <span ng-if="!$first" class="dot" aria-hidden="true"> • </span>
                      <span class="no-warp"><span class="secondary-label" ng-if="c.options.show_secondary_fields_label">{{::f.label}}
                        : </span>
                        <span ng-switch-when="glide_date">
                          <sn-time-ago timestamp="::f.value" />
                        </span>
                        <span ng-switch-when="glide_date_time">
                          <sn-time-ago timestamp="::f.value" />
                        </span>
                        <span ng-switch-default="">{{f.display_value}}
                        </span></span>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </div>
        </small>
      </div>       
    </div>
    <div ng-if="!c.options.result.length" class="list-group-item">
      ${No content to display}
    </div>
  </div>
</div>