<ul class="hidden-sm hidden-xs nav nav-pills nav-sm">
  <li><a ng-href="?id={{portal.homepage_dv}}">${Home}</a></li>
  <li><i class="fa fa-chevron-right"></i></li>
  <li ng-if="portal.homepage_dv != 'kb_home'"><a ng-href="?id=kb_home">${Knowledge}</a></li>
  <li ng-if="portal.homepage_dv != 'kb_home'"><i class="fa fa-chevron-right"></i></li>
  <li ng-if="!c.breadcrumbs"><a href>{{page.title}}</a></li>
  <li ng-repeat-start="item in c.breadcrumbs">
    <a ng-href="{{item.url}}">{{item.label}}</a>
  </li>
  <li ng-if="!$last" ng-repeat-end>
    <i class="fa fa-chevron-right"></i>
  </li>
</ul>

<style>
  @media only screen and (max-width: 991px){
    .breadcrumbs-container{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      border-bottom: 0px !important;;

    }
    main {
      padding-top : 0px !important;
    }
  }
</style>