<div ng-class="$root.showFacet? 'kb-summary-display-none':''">
  <div class="kb-result-{{c.data.instanceid}} kb-summary-block" ng-class="$root.hideSearchBorder? 'kb-no-top-border':''" style="background-color:{{::options.knowledge_bg_color}}">
    <div class="no-article" ng-show = "c.noResults">
      ${Your search did not return any results} <strong>{{c.no_result_text}}</strong>
    </div>
    <div class="summary-templates">
      <div class="kb-template" ng-show="c.kbData.meta.returned_results != 0 && c.showResults">
        <div ng-include="::data.pinned_article_template" />
        <div ng-include="::data.article_template" />
      </div>
      <div ng-show="c.isLoadingNew || !c.showResults" class="loading-icon"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">${Loading}...</span></div>
      <div ng-show="c.noMoreToLoad" class="nomore-text">${No More Results}</div>   
    </div>
  </div>
</div>
<style>
  @media only screen and (max-width: 991px) {
    .kb-result-{{c.data.instanceid}} .kb-icon {
      font-size: 1.4em;
      width: 20px;
      margin-right : 4px;
      margin-top : 2px;
    }
    .kb-result-{{c.data.instanceid}} .kb-icon-pad {
      margin: 0px 20px 0 0;
    }
    .kb-result-{{c.data.instanceid}} .responsive-kb-width {
      width :100%;
      padding-bottom : 4px;
    }
   	section {
      overflow-x: hidden !important;
    }
    .kb-summary-display-none{
      display : none !important;
    }
    .kb-result-{{c.data.instanceid}} .kb-article-summary{
      padding: 2px 0 8px 0 !important;
    }
    .kb-result-{{c.data.instanceid}} .kr-no-padding {
      padding-left : 0px !important;
      padding-right : 0px !important;
    }
    .kb-result-{{c.data.instanceid}} .kr-border-bottom {
      border-bottom : 1px solid #DDDDDD;
      padding : 0px !important;
    }
  }
</style>