<div class="panel panel-{{::c.options.color}} b" ng-if="data.languageEnabled">
  <div class="panel-heading">
    <h4 class="panel-title">${Language}</h4>
  </div>  
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <select id="language_picker_select" class="form-control"
                name="language_picker_select" ng-model="data.listProperties.language.current"
                ng-change="setPreferenceValue('language', data.listProperties.language.current.value)"
                ng-options="item as item.label for item in data.listProperties.language.list "/>
      </div>
    </div>
  </div>      
</div>
