<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <span>IF...</span>
    </div>
    <div class="col-xs-3">
      <div class="btn-group" uib-dropdown>
        <button id="select-service" 
                type="button" 
                class="btn btn-primary" 
                uib-dropdown-toggle 
                ng-disabled="disabled">
          <span id="select-service-label">Service</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="service in c.data.services">
            <a href="#" ng-click="c.setService(service)">{{service.name}}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-xs-3">

      <div class="btn-group" uib-dropdown ng-if="c.data.service">
        <button id="select-trigger" 
                type="button" 
                class="btn btn-primary" 
                uib-dropdown-toggle 
                ng-disabled="disabled">
          <span id="select-trigger-label">Trigger</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="trigger in c.data.triggers">
            <a href="#" ng-click="c.setTrigger(trigger)">{{trigger.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</div>

