<div ng-if="!(options.showAll && options.showAll != 'false' && data.instances.length && data.totalRecords == data.maxRecords && data.totalRecords != 0)">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">{{::data.widgetTitle}}</h4>
		</div>
			<div class="list-group" ng-if="data.instances.length && data.totalRecords > 0">
				<div class="list-group-item" ng-repeat="instance in data.instances track by $index">
					<div>
						<a href="?id=take_survey&instance_id={{::instance.sys_id}}" title = "Take {{::instance.evaluation_method_display}}">
                          <table><tr>
                          <td><span  class = "survey-icon icon-article-document"
                                  ng-if="(instance.evaluation_method == 'assessment' || instance.evaluation_method == 'attestation_v2' || instance.evaluation_method == 'risk_assessment')"></span>
                            <span ng-if="(instance.evaluation_method == 'survey' || instance.evaluation_method == 'quiz')" class="survey-icon icon-form"></span></td>
                          <td class="instance-display-text">{{::instance.display}}</td></tr></table>
                      </a>
					</div>
					<div>
						<small ng-if="instance.trigger_id">
							<a style="color:inherit;text-decoration:underline" href="?id=ticket&table={{::instance.trigger_table}}&sys_id={{::instance.trigger_id}}">{{::instance.trigger_display}}</a>
							<span> • </span>
						</small>
						<small>
							<span>{{::instance.due_display}}</span>
						</small>
					</div>

				</div>
			</div>
			<div ng-if="data.totalRecords ==0" class="panel-body ng-scope">
				${You have no surveys to take}
			</div>
			<div class="panel-footer" ng-if="data.totalRecords > data.maxRecords">
				<h4 class="panel-title row">
					<div class="col-xs-6">
						<span>{{::data.recordsShownMsg}}</span>
					</div>
					<div class="col-xs-6 text-right">
						<a href="?id=my_surveys&title={{::data.encodedWidgetTitle}}">${View all}</a>
					</div>
			 	</h4>
			</div>
	</div>
</div>

<div ng-if="options.showAll && options.showAll != 'false' && data.instances.length && data.totalRecords == data.maxRecords && data.totalRecords != 0">
  <div class = "survey-panel-spacer"/>
  <h2>{{::data.widgetTitle}}</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4 wrapper-xs" ng-repeat="instance in data.instances track by $index">
      <div class="panel panel-default wrapper-sm">

        <div class="row">
          <div class="col-xs-12 survey-title" style="height:20px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
            <a href="?id=take_survey&instance_id={{::instance.sys_id}}" title = "Take {{::instance.evaluation_method_display}}">
                          <table><tr>
                          <td><span  class = "survey-icon icon-article-document"
                                  ng-if="(instance.evaluation_method == 'assessment' || instance.evaluation_method == 'attestation_v2' || instance.evaluation_method == 'risk_assessment')"></span>
                            <span ng-if="(instance.evaluation_method == 'survey' || instance.evaluation_method == 'quiz')" class="survey-icon icon-form"></span></td>
                          <td class="instance-display-text">{{::instance.display}}</td></tr></table>
          </a>    
          </div>
          <div class="col-xs-12" ng-if="instance.trigger_description" style="height:20px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
            {{::instance.trigger_description}}
          </div>
          <div class="col-xs-12" ng-if="!instance.trigger_description" style="height:20px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
            {{::instance.description}}
          </div>
        </div>

        <div class="card-bottom" style="font-size:12px;">

          <div class="row">
            <div class="col-xs-8" style="height:17px;">
							<span ng-if="instance.can_retake">${Completed. Do you want to retake?}</span>
            </div>
            <div class="col-xs-4 text-right" style="height:17px">
              <a  ng-if="instance.trigger_table_display" href="?id=ticket&table={{::instance.trigger_table}}&sys_id={{::instance.trigger_id}}">{{::instance.trigger_display}}</a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8">
              <div class="progress-bar" ng-if="instance.percent_answered > '0'">
                <div class="progress-bar-inner" ng-style="{width: instance.percent_answered + '%'}"></div>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <div class="due-date">{{::instance.due_display}}</div>
            </div>
          </div>

        </div> <!-- end div.card-bottom -->

      </div>
    </div>
  </div>
</div>