<sp-panel rect="rect" title="'${Team}'" ng-if="showTeamWidget()">

	<div id="manager" ng-if="myManager && myManager.sys_id">
		<h5 ng-if="myManager.name && !showMyProfile" class="team_header m-t-none">${My Manager}</h5>
		<h5 ng-if="myManager.name && showMyProfile" class="team_header m-t-none">${Manager}</h5>

		<div class="row info-row">
			<div class="col-xs-2" ng-click="openProfile(myManager)">
				<span class="navbar-avatar">
					<sn-avatar class="avatar-small-medium" primary="myManager.sys_id" show-presence="false" />
				</span>
			</div>
			<div class="col-xs-7" ng-click="openProfile(myManager)">{{myManager.name}}</div>
			<div class="col-xs-1" ng-class="{'hide-element': !myManager.phone}">
				<a href="tel:{{myManager.phone}}">
                  <fa name="phone" size="2"></fa>
				</a>
			</div>
			<div class="col-xs-1" ng-class="{'hide-element': !myManager.email}">
				<a href="mailto:{{myManager.email}}">
					<fa name="envelope" size="2"></fa>
				</a>
			</div>
		</div>
	</div>

	<div id="colleagues" ng-if="teamMembers && teamMembers.length > 0">
		<h5 ng-if="!showMyProfile" class="team_header">${My Coworkers}</h5>
		<h5 ng-if="showMyProfile" class="team_header">${Coworkers}</h5>

		<div class="row info-row" ng-repeat="member in teamMembers | filter:{sys_id: '!' + data.user_id} | limitTo: showFullInfoCollegues ? teamMembers.length : data.limitTo">
			<div class="col-xs-2" ng-click="openProfile(member)">
				<span class="navbar-avatar">
					<sn-avatar class="avatar-small-medium" primary="member.sys_id" show-presence="false" />
				</span>
			</div>
			<div class="col-xs-7" ng-click="openProfile(member)">{{member['name']}}</div>
			<div class="col-xs-1" ng-class="{'hide-element': !member.phone}">
				<a href="tel:{{member.phone}}">
					<fa name="phone" size="2"></fa>
				</a>
			</div>
			<div class="col-xs-1" ng-class="{'hide-element': !member.email}" style="text-align: right;">
				<a href="mailto:{{member.email}}">
					<fa name="envelope" size="2"></fa>
				</a>
			</div>
		</div>

		<div ng-if="teamMembers.length > data.limitTo" class="pull-right">
			<a href="javascript:void(0)" class="more_link" ng-if="!showFullInfoCollegues" ng-click="updateList('showFullInfoCollegues',true)">${show all ({{teamMembers.length}})}
			</a>
			<a href="javascript:void(0)" class="more_link" ng-if="showFullInfoCollegues" ng-click="updateList('showFullInfoCollegues',false)">${show less}</a>
		</div>

	</div>

	<div id="direct_reports" ng-if="directReports && directReports.length > 0">
		<h5 ng-if="directReports.length > 0 && !showMyProfile" class="team_header">${My Direct Reports}</h5>
		<h5 ng-if="directReports.length > 0 && showMyProfile" class="team_header">${Direct Reports}</h5>

		<div class="row info-row" ng-repeat="direct_report in directReports | filter:{sys_id: '!' + data.user_id} | limitTo: showFullInfoReports ? directReports.length : data.limitTo">
			<div class="col-xs-2" ng-click="openProfile(direct_report)">
				<span class="navbar-avatar">
					<sn-avatar class="avatar-small-medium" primary="direct_report.sys_id" show-presence="false" />
				</span>
			</div>
			<div class="col-xs-7" ng-click="openProfile(direct_report)">{{direct_report['name']}}</div>
			<div class="col-xs-1" ng-class="{'hide-element': !direct_report.phone}">
				<a href="tel:{{direct_report.phone}}">
					<fa name="phone" size="2"></fa>
				</a>
			</div>
			<div class="col-xs-1" ng-class="{'hide-element': !direct_report.email}" style="text-align: right;">
				<a href="mailto:{{direct_report.email}}">
					<fa name="envelope" size="2"></fa>
				</a>
			</div>
		</div>

		<div ng-if="directReports.length > data.limitTo" class="pull-right">
			<a href="javascript:void(0)" class="more_link" ng-if="!showFullInfoReports" ng-click="updateList('showFullInfoReports',true)">${show all ({{directReports.length}})}</a>
			<a href="javascript:void(0)" class="more_link" ng-if="showFullInfoReports" ng-click="updateList('showFullInfoReports',false)">${show less}</a>
		</div>

	</div>

	<a id="my_org_chart" class="widget-button" ng-if="!showMyProfile" href="?id=my_org_chart">
		<i class="fa fa-sitemap"></i>
		${my org chart}
	</a>
	<a id="my_org_chart" class="widget-button" ng-if="showMyProfile" ng-href="?id=my_org_chart&p={{userID}}">
		<i class="fa fa-sitemap"></i>
		${org chart}
	</a>

</sp-panel>