<div id="sc_cat_item" >
  <div class="row" ng-if="::data.sc_cat_item" >
    <div ng-if="::data.sc_cat_item.picture" class="col-sm-3">
      <div class="panel panel-{{::options.color}} b wrapper-lg text-center">
        <img class="img-responsive catalog-item-image" alt="{{::data.sc_cat_item.name}}" style="display: inline" ng-src="{{::data.sc_cat_item.picture}}" />
      </div>
    </div>
    <div ng-class="{true:'col-sm-9',false:'col-sm-12'}[data.sc_cat_item.picture.length > 0]">
      <div class="panel panel-default">
        <div class="wrapper-md">
          <h1 class="h2 m-t-none m-b-sm font-thin">{{::data.sc_cat_item.name}}</h1>
          <div class="text-muted">{{::data.sc_cat_item.short_description}}</div>
        </div>
        <div ng-if="::data.sc_cat_item.description" class="wrapper-md b-t">
          <div ng-bind-html="::data.sc_cat_item.description"></div>
        </div>
        <div ng-if="::data.sc_cat_item.content_type == 'external'" class="wrapper-md"><a ng-href="{{::data.sc_cat_item.url}}" target={{::data.sc_cat_item.target}}>{{::data.sc_cat_item.url}} ➚</a></div>
				<div ng-if="::data.sc_cat_item.content_type == 'kb'" class="wrapper-md"><a  ng-href="?id=kb_article&sys_id={{::data.sc_cat_item.kb_article}}">${Go to KB Article:} {{::data.sc_cat_item.kb_article_description}}</a></div>
        <div ng-if="::data.sc_cat_item._fields">
          <sp-cat-item item="::data.sc_cat_item" />
          <form>
            <div ng-class="{'b-t wrapper-md': data.sc_cat_item._view.length}">
              <!-- display view and model -->
              <sp-model form-model="::data.sc_cat_item" mandatory="mandatory"></sp-model>
            </div>
            <div ng-if="data.sc_cat_item.sys_class_name != 'sc_cat_item_content'" class="b-t wrapper-md">
              <div class="m-b" ng-if="data.showPrices && (data.sc_cat_item.price || data.sc_cat_item.recurring_price)" >
                <div ng-if="data.sc_cat_item.price" class="h4 cat_item_price">${Price}: {{data.sc_cat_item.price}}</div>
                <em ng-if="data.sc_cat_item.recurring_price" class="cat_item_price">${Recurring Price}: {{data.sc_cat_item.recurring_price}}</em>
              </div>
              <now-attachments-list template="sp_attachment_single_line" ></now-attachments-list>
              <span ng-if="::c.allowOrder()">
                <select ng-if="c.showQuantitySelector()"
                        ng-disabled="submitted"
                        class="form-control quantity-selector"
                        ng-model="c.quantity"
                        aria-label="${Quantity}"
                        ng-options="num for num in [1,2,3,4,5,6,7,8,9,10]">
                </select>
                <label ng-if="!submitted" style="float:right;font-weight:normal;cursor:pointer;"><sp-attachment-button></sp-attachment-button><span style="padding-left:4px;">${Add attachments}</span></label>
                <button ng-if="::c.showOrderNowButton()" tabindex="0" name="submit" ng-disabled="submitted" ng-click="triggerOnSubmit()" class="btn btn-primary">{{submitButtonMsg}}</button>
                <button tabindex="0" ng-if="c.showAddCartBtn()" name="submit" ng-disabled="submitted" ng-click="triggerAddToCart()" class="btn btn-default">${Add to Cart}</button>
                <span ng-if="submitting" style="padding-left:4px">${Submitting...}</span>
              </span>
              <div ng-if="hasMandatory(mandatory)" class="alert alert-info" style="margin-top: .5em">
                <span ng-if="hasMandatory(mandatory)">${Required information} </span>
                <span ng-repeat="f in mandatory" class="label label-danger" style="margin-right: .5em; display: inline-block;">{{::f.label}}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <sp-message-dialog name="delete_attachment"
                       title="{{m.dialogTitle}}"
                       message="{{m.dialogMessage}}"
                       ok="{{m.dialogOK}}"
                       cancel="{{m.dialogCancel}}"
                       dialog-class="delete-dialog"></sp-message-dialog>

  <div ng-if="::!data.sc_cat_item" >
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">${Item not found}</h4></div>
      <div class="panel-body wrapper">
        <p>${This item is not found or currently not available}</p>
        <p>${Suggestions}:</p>
        <ul>
          <li>${Try searching for the item}</li>
          <li>${Go to the Service Catalog homepage}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="sr-only" aria-live="assertive">{{c.status}}</div>
</div>