<div class="m-t-sm " ng-class="{'hidden-xs' : hideItemWidget, 'm-l-sm': !isMobile}">
  <h4 ng-if="data.error">{{data.error}}</h4>
  <div ng-init="spSearch.targetCatalog()">
    <div class="row">
      <div class="col-xs-9">
        	<a ng-click="showCategories()" class="visible-xs m-b-sm pointer" aria-label="${All Categories}">
            <i class="fa fa-chevron-left m-r-xs"></i> ${All Categories}
        	</a>
          <h1 class="h4 m-t-none break-word" aria-label="{{data.category}} ${Category}">{{::data.category.title}}</h1>
        	<p class="hidden-xs break-word">
            {{::data.category.description}}
          </p>
      </div>
      <div class="col-xs-3" ng-if="!isMobile">
        <div class="pull-right padder-t-sm text-lg toggle" ng-show="!data.error && data.items.length > 0">
          <i class="fa fa-th" ng-click="changeView('card')" aria-label="${Card View}" ng-class="{'active' : view == 'card'}" uib-tooltip="${Card View}" tooltip-placement="top" tooltip-enable="!isTouchDevice()" tooltip-append-to-body="true" aria-label="${Card View}" tabindex="0"></i>
          <span class="m-l-sm m-r-sm "> | </span>
          <i class="fa fa-list-ul" ng-click="changeView('grid')" aria-label="${Grid View}" ng-class="{'active' : view == 'grid'}" uib-tooltip="${Grid View}" tooltip-placement="top" tooltip-enable="!isTouchDevice()" tooltip-append-to-body="true" aria-label="${Grid View}" tabindex="0"></i>
        </div>
       </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-if="!data.items.length && !data.error">
        ${No items in category}
      </div>
      <table class="table table-striped item-table" ng-if="view == 'grid' && data.items.length > 0">
        <thead>
          <tr>
            <th>${Item}</th>
            <th>${Description}</th>
            <th ng-if="data.showPrices">${Price}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in data.items | orderBy: 'order' track by item.sys_id" ng-click="onClick($event, item)" ng-init="startItemList()">
            <td>
              <img ng-src="{{::item.picture}}?t=small" ng-if="item.picture" alt="{{::item.name}}" class="m-r-sm m-b-sm item-image pull-left"/>
              <div class="break-word">
                <a target="{{::item.target}}" ng-href="{{::getItemHREF(item)}}"> {{::item.name}}<span ng-if="item.content_type == 'external'" aria-label="${External Link}"> ➚</span> </a>
              </div>
            </td>
            <td class="break-word">{{::item.short_description}}</td>
            <td>{{::item.price}}</td>
          </tr>
        </tbody>
      </table> 
      <div ng-if="view == 'card'">
      	<div class="col-sm-6 col-md-4" ng-repeat="item in data.items | orderBy: 'order' track by item.sys_id" ng-init="startItemList()">
        <div class="panel panel-{{::options.color}} b">
          <a target="{{::item.target}}" ng-href="{{::getItemHREF(item)}}" ng-click="onClick($event, item)" class="panel-body block">
            <div class="overflow-100">
              <h2 class="h4 m-t-none m-b-xs text-overflow-ellipsis" title="{{::item.name}}" style="padding-bottom:1px">{{::item.name}}<span ng-if="item.content_type == 'external'" aria-label="${External Link}"> ➚</span></h2>
              <img ng-src="{{::item.picture}}?t=small" ng-if="item.picture" alt="{{::item.name}}" class="m-r-sm m-b-sm item-image pull-left" />
              <div class="text-muted item-short-desc break-word">{{::item.short_description}}</div>
            </div>
          </a>
          <div aria-hidden="true" class="panel-footer">
            <a aria-hidden="true" ng-if="item.sys_class_name != 'sc_cat_item_content' || item.content_type == 'kb' || item.content_type == 'literal'" ng-click="onClick($event, item)" ng-href="{{getItemHREF(item)}}" class="pull-left text-muted" tabindex="-1">${View Details}</a>
            <a aria-hidden="true" ng-if="item.sys_class_name == 'sc_cat_item_content' && item.content_type == 'external'" ng-click="onClick($event, item)" ng-href="{{getItemHREF(item)}}" target="_blank" class="pull-left text-muted" tabindex="-1">${View Details}</a>
            <span ng-if="data.showPrices && item.hasPrice" class="pull-right item-price font-bold">{{::item.price}}</span> &nbsp;
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="text-a-c" ng-if="!stopLoader && data.items.length > 0 && !data.error">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			<span class="sr-only">${Loading...}</span>
    </div>
    <div ng-if="data.limit < data.total_item && !show_popular_item">
      	<div class="text-a-c">
          {{data.more_msg}}
      	</div>
        <button class="m-t-xs btn btn-default btn-loadmore" ng-click="loadMore()">
          ${Show More}
        </button>
      </div>
  </div>
</div>