<div>
  <div class="panel panel-default" ng-if="::!data.request">
    <div class="wrapper-md b-b">
      <h4>${Request not found}</h4>
    </div>
  </div>
</div>
<div class="panel panel-default" ng-if="::data.request">
  <div class="wrapper-md b-b visible-xs visible-sm text-center" ng-if="::data.is_new_order">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
    </svg> 
    <div class="text-center text-success">
      ${Thank you}!<br>
      ${Your request has been submitted}.
    </div>
  </div>
  <div class="wrapper-md b-b text-sm-center">
    <div class="text-left inline">
      <div class="text-muted">
        ${Order Placed} : {{::data.request.order_placed_on}}
      </div>
      <div class="text-muted" ng-if="::options.display_request_number === 'true'">
        ${Request Number} : <b>{{::data.request.number}}</b>
      </div>
      <div class="text-muted">
        ${Estimated Delivery} : {{::data.request.esimated_delivery}}
      </div>
    </div>
  </div>
  <table class="table table-striped status-table" style="table-layout:fixed;" ng-if="::data.request.requestItems.length && displayRequestItemTable()">
    <thead>
      <tr>
        <th class="wrapper-md col-md-2" ng-if="::options.display_number === 'true'">${Request Item}</th>
        <th class="wrapper-md col-md-2" ng-if="::options.display_name === 'true'">${Order Item}</th>
        <th class="wrapper-md col-md-2 hidden-sm hidden-xs" ng-if="::options.display_delivery_date === 'true'">${Delivery Date}</th>
        <th class="wrapper-md col-md-3 hidden-sm hidden-xs" ng-if="::options.display_stage === 'true'">${Stage}</th>
        <th class="wrapper-md col-md-2 hidden-sm hidden-xs" ng-if="::options.display_price === 'true' && data.showPrices">${Price} (${ea.})</th>
        <th class="wrapper-md col-md-1" ng-if="::options.display_quantity === 'true'">${Quantity}</th>
        <th class="wrapper-md col-md-2" ng-if="::options.display_total_price === 'true' && data.showPrices">${Total}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="requestItem in ::data.request.requestItems">
        <td class="wrapper-md" ng-if="::options.display_number === 'true'">
        	<a title="{{::requestItem.number}}" href="?id=ticket&table=sc_req_item&sys_id={{requestItem.sys_id}}&view=sp"
            ng-if="::requestItem.number">{{::requestItem.number}}</a>
        </td>
        <td class="wrapper-md text-overflow-ellipsis" ng-if="::options.display_name === 'true'">
          <a title="{{::requestItem.name}}" href="?id=ticket&table=sc_req_item&sys_id={{requestItem.sys_id}}&view=sp"
            ng-if="::requestItem.name">{{::requestItem.name}}</a>
        </td>
        <td class="wrapper-md hidden-sm hidden-xs" ng-if="::options.display_delivery_date === 'true'">
          <span ng-if="::requestItem.delivery_date">{{::requestItem.delivery_date}}</span></td>
        <td class="wrapper-md hidden-sm hidden-xs" ng-if="::options.display_stage === 'true'">
          <sp-widget widget="::requestItem.stageWidget"></sp-widget>
        </td>
        <td class="wrapper-md hidden-sm hidden-xs" ng-if="::options.display_price === 'true' && data.showPrices">
          <div ng-if="::requestItem.price">
            <div> &nbsp;&nbsp;&nbsp;{{::requestItem.price_dv}}</div>
            <div ng-if="::requestItem.recurring_price"><span> + {{::requestItem.recurring_price_dv}}</span></div>
          </div>
          <div ng-if="::!requestItem.price">
            ---
          </div>
        </td>
        <td class="wrapper-md" ng-if="::options.display_quantity === 'true'">{{::requestItem.show_quantity ? requestItem.quantity: '-'}}</td>
        <td class="wrapper-md" ng-if="::options.display_total_price === 'true' && data.showPrices">
          <div ng-if="requestItem.total_price">
            <div>&nbsp;&nbsp;&nbsp;{{::requestItem.total_price_dv}}</div>
            <div ng-if="::requestItem.total_reccuring_price"><span> + {{::requestItem.total_reccuring_price_dv}}</span></div>
          </div>
          <div ng-if="!requestItem.total_price">
            ---
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="wrapper-md b-t hidden-sm hidden-xs" ng-if="::(options.display_price === 'true' || options.display_total_price === 'true') && data.showPrices">
    <div class="text-muted text-right">
      <h4 class="text-bold">${Total}: {{::data.totalPrice}}</h4>
      <div class="h5 text-bold" ng-repeat="rec in ::data.request.recurringPrice"> + {{rec.val}} {{rec.val_dv}}</div>
    </div>
  </div>
</div>