<h1 class="font-thin m-t-none">{{::options.title}}</h1>

<div class="row" >
  <div class="col-sm-6 col-md-4" ng-repeat="item in data.items | orderBy: '-count' | limitTo: data.limit">

    <div class="panel panel-default">
      <a href="?id=sc_cat_item&sys_id={{item.sys_id}}" class="panel-body block">
        <div class="overflow-100">
          <h2 class="h4 m-t-none m-b-xs text-overflow-ellipsis" title="{{::item.name}}">{{::item.name}}</h2>
          <img ng-src="{{::item.picture}}" ng-if="::item.picture" class="m-r-sm m-b-sm item-image pull-left" alt="{{::item.name}}" role="presentation" />
          <div class="text-muted item-short-desc">{{::item.short_description}}</div>
        </div>
      </a>
      <div class="panel-footer">
        <a href="?id=sc_cat_item&sys_id={{item.sys_id}}" class="pull-left text-muted" tabindex="-1">${View Details}</a> <span ng-if="data.showPrices && item.hasPrice" class="pull-right item-price font-bold">{{::item.price}}</span> &nbsp;
      </div>
    </div>

  </div>
</div>