<div class="panel panel-default" ng-class="{'hidden-xs': c.data.savedCarts.length == 0}">

  <div class="panel-heading bundle-title">
    <h2 class="h6 panel-title bundle-title-content">${My Saved Bundles}</h2>
  </div>
  
  <div ng-if="c.data.savedCarts.length == 0" class="panel-body bundles-container" >
 		${You have no saved bundles } 
  </div>
  <div ng-if="c.data.savedCarts.length > 0" class="list-group bundles-container" >
    <div class="list-group-item "
         ng-repeat="cart in c.data.savedCarts | orderBy: 'order'" >
      <div class="row">
        <div class="col-sm-8 col-xs-7">{{cart.name}}</div>
        <div class="col-sm-4 col-xs-5 text-a-r">
            <a ng-click="c.removeBundle(cart)" aria-label="${Remove} {{cart.name}} bundle" href="javascript:void(0)">${Remove}</a>
            <span class="m-r-sm m-l-sm"> | </span>
            <a ng-click="c.loadCart(cart)"  aria-label="${Open} {{cart.name}} bundle" href="javascript:void(0)">${Open}</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h1 class="h3 modal-title">{{bundleName}}</h1>
    </div>
    <div class="modal-body">
    	<div ng-if="cartCount > 0">
        <p><strong>${Replace Cart}</strong> ${will remove the current contents of your cart and replace it with the bundle.}</p>
        <p><strong>${Add to Cart}</strong> ${will add the contents of the bundle into your cart without removing it's current contents.}</p>
      </div>
      <h2 class="h4">${Items In Bundle}</h2>
      <table id="cart" class="table table-hover table-condensed">
        <tbody>
          <tr ng-repeat="item in bundleItems track by item.sys_id | orderBy: 'order'">
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img ng-show="item.picture" ng-src="{{item.picture}}" alt="..." class="img-responsive item-image"/></div>
                <div class="col-sm-10">
                  <h4 class="nomargin">{{item.name}}</h4>
                  <p class="hidden-xs">{{item.short_description}}</p>
                </div>
              </div>
            </td>
            <td>
              <strong>{{item.display_price}}</strong>
              <div ng-show="item.recurring_price > 0">+ {{item.display_recurring_price}} {{item.recurring_frequency_display}}</div>
            </td>
            <td data-th="Quantity">
              <span ng-if="item.show_quantity">{{item.quantity}}</span>
              <span ng-if="!item.show_quantity">-</span>
            </td>
            <td>
              <strong>{{item.subtotal_price}}</strong>
              <div ng-show="item.recurring_subtotal > 0">+ {{item.recurring_subtotal_price}} {{item.recurring_frequency_display}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button ng-if="cartCount > 0" class="btn btn-default" ng-click="replaceCartWithBundle(cartID)">${Replace Cart}</button>
      <button class="btn btn-primary" ng-click="addBundleToCart(cartID)">${Add to Cart}</button>
    </div>
  </script>
</div>