<div class="intro">
    <h1>${Service Portal}</h1>
    <h3>${Create rich, engaging and modern experiences to help your business run better <br> Select one of the options below to continue}</h3>
</div>
<div class="flex">
    <div>
        <a href="?id=branding_editor" class="color_box text-primary">
            <span class="fa fa-stack fa-2x"> 
          		<i class="fa fa-circle fa-stack-2x"></i> 
          		<i class="fa fa-cog fa-stack-1x fa-inverse"></i> 
          	</span>
            <h3>${Branding Editor}</h3>
            <p>${Customize your portal's title, logo and theme colors. Preview changes as you make them}</p>
        </a>
    </div>
    <div>
        <a href="/$spd.do" class="color_box text-info" target="_blank">
			<span class="fa fa-stack fa-2x"> 
				<i class="fa fa-circle fa-stack-2x"></i> 
				<i class="fa fa-th fa-stack-1x fa-inverse"></i> 
			</span>
            <h3>${Designer} ➚</h3>
            <p>${Create and layout pages with drag-and-drop functionality. Preview pages as you make changes}</p>
        </a>
    </div>
    <div>
        <a href="?id=page_edit" class="color_box text-success">
            <span class="fa fa-stack fa-2x"> 
            	<i class="fa fa-circle fa-stack-2x"></i> 
            	<i class="fa fa-file fa-stack-1x fa-inverse"></i> 
            </span>
            <h3>${Page Editor}</h3>
            <p>${Configure the properties of pages, containers and widgets from a map view}</p>
        </a>
    </div>
    <div>
        <a href="?id=widget_editor" class="color_box text-primary">
            <span class="fa fa-stack fa-2x"> 
            	<i class="fa fa-circle fa-stack-2x"></i> 
            	<i class="fa fa-list-alt fa-stack-1x fa-inverse"></i> 
            </span>
            <h3>${Widget Editor}</h3>
            <p>${Create widgets from scratch or customize an existing one. Write HTML, CSS, and JavaScript with real-time preview}</p>
        </a>
    </div>
    <div>
        <a href="?id=form&table=sp_portal&sys_id=-1" class="color_box text-info">
            <span class="fa fa-stack fa-2x"> 
            	<i class="fa fa-circle fa-stack-2x"></i> 
            	<i class="fa fa-sitemap fa-stack-1x fa-inverse"></i> 
            </span>
            <h3>${New Portal}</h3>
            <p>${Create a new Service Portal}</p>
        </a>
    </div>
    <div>
        <a href="https://docs.servicenow.com/bundle/kingston-servicenow-platform/page/build/service-portal/concept/c_ServicePortal.html" target="_blank" class="color_box text-warning">
            <span class="fa fa-stack fa-2x"> 
            	<i class="fa fa-circle fa-stack-2x"></i> 
            	<i class="fa fa-question fa-stack-1x fa-inverse"></i> 
            </span>
            <h3>${Get Help} ➚</h3>
            <p>${Browse guides, tutorials and videos to learn how to set up, configure and customize your portals}</p>
        </a>
    </div>  
</div>
