<sp-panel ng-if="sessions && sessionCount()" class="panel b">
  <div>
    <ul class="list-group no-bg no-borders pull-in">
      <li ng-if="s.status" class="list-group-item no-border" ng-repeat="s in sessions">
        <span class="pull-left thumb-sm avatar m-r">
          <sn-avatar primary="s.user_id" show-presence="true" enable-context-menu="false"></sn-avatar>
        </span>
        <div class="clear">
          <div><span>{{::s.user_display_name}}</span></div>
          <small class="text-muted">{{s.status}}</small>
        </div>
      </li>
    </ul>
  </div>
</sp-panel>
