<div class="empty-state-wrapper">
  <div class="empty-state">
    <h2 class="empty-state-header">${Widget Editor}</h2>
    <div class="empty-state-content">
      <div class="empty-state-badge fa fa-list-alt"></div>
      <div class="empty-state-list">
        <h3 class="empty-state-header m-t-none">${Recently Updated}</h3>
        <div class="list-group" style="max-height: none; overflow-y: auto;">
          <a ng-repeat="widget in c.data.recentWidgets" class="list-group-item" ng-href="?id=widget_editor&sys_id={{widget.sys_id}}">
            {{widget.name}}
          </a>
        </div>
      </div>
      <div class="empty-state-instructions">
        <p>${Widget Editor is a development tool that allows you to view and edit the source code for existing widgets, create new widgets, and update a widget's option schema}</p>
        <ul>
          <li>${Check out the} <a ng-href="?id=widget_editor&sys_id=6f2cff80d721120023c84f80de61033c">${Hello World Example}</a></li>
          <li ng-if="data.canCreate"><a href ng-click="c.add()">${Create a new widget}</a></li>
          <li>${Edit an existing widget}</li>
          <div class="rp m-t-xs">
            <sn-record-picker class="rp" placeholder="${Select a widget}"
                              field="c.shared.ed_widget" table="'sp_widget'"
                              display-field="'name'" value-field="'sys_id'"
                              display-fields="'id'" search-fields="'id,name'"
                              page-size="100" options="c.pickerOptions"></sn-record-picker>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>