<div ng-repeat="c in ::data.categories" ng-if="::c.items.length">
  <div class="h4"><a ng-href="?id=sc_category&sys_id={{::c.sys_id}}">{{::c.title}}</a></div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="item in ::c.items">
      <div class="panel panel-{{::options.color}} b">
        <a href="?id={{::item.page}}&sys_id={{::item.sys_id}}" class="panel-body block">
          <div class="overflow-100">
            <h4 class="m-t-none m-b-xs">{{::item.name}}</h4>
            <img ng-src="{{::item.picture}}" ng-if="::item.picture" class="m-r-sm m-b-sm item-image pull-left" />
            <div class="text-muted item-short-desc">{{::item.short_description}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>