<form name="cloneWidget" ng-submit="c.submit()">
  <div class="form-group">
    <input required type="text" class="form-control" ng-change="c.updateID()" ng-required="true" name="name" ng-model="c.data.name" placeholder="{{::data.widgetNameMsg}}" />
  </div>

  <div class="form-group">
    <input required type="text" class="form-control" ng-blur="c.fixID(c.data.id, true)" maxlength="40" name="id" ng-model="c.data.id" placeholder="{{::data.widgetIDMsg}}" />
    <div class="m-t-xs">${Use only lowercase letters, numbers, underscores, and hyphens}</div>
  </div>
  
  <div class="checkbox">
    <label>
      <input ng-model="c.data.createTestPage" type="checkbox"> ${Create test page}
    </label>
  </div>
  
  <div ng-if="c.data.createTestPage" class="form-group">
    <input required type="text" class="form-control" ng-blur="c.fixPageID(c.data.test_page_id)" maxlength="40" name="test-page-id" ng-model="c.data.test_page_id" placeholder="{{::data.pageIDRequiredMsg}}" />
    <div class="m-t-xs">${Use only lowercase letters, numbers, underscores, and hyphens}</div>
  </div>
  
  <input class="btn btn-primary" ng-class="{'disabled': !cloneWidget.$valid}" type="submit"/>

</form>