<div class="panel panel-{{::c.options.color}} b">
  <div class="panel-heading">
    <h4 class="panel-title" ng-bind="::c.options.title"><fa ng-if="c.options.glyph" name="{{c.options.glyph}}" /></h4>
  </div>
  <div class="panel-body">
    <div ng-repeat="category in c.data.categories" ng-if="category.count">
      <a ng-href="?id=kb_category&kb_category={{::category.value}}">{{::category.label}}
        <span ng-if="category.count > 0" class="label label-as-badge label-primary">{{::category.count}}</span>
      </a>
    </div>
  </div>
</div>
