<div ng-class="::{'hidden-xs' : options.hide_xs}" class="panel panel-{{::options.color}} b">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span ng-if="::options.glyph">
        <fa name="{{::options.glyph}}" />
      </span>{{::options.title}}</h4>
  </div>
  <div class="list-group no-radius alt">
    <sp-category-list-item ng-repeat="cat in data.categories"
                           category="cat"
                           omit-badges="options.omit_badges"
                           level="0"></sp-category-list-item>
  </div>
</div>