<div ng-if="data.sc_cat_item" class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="wrapper-md">
          <h1 class="h2 m-n font-thin">{{data.sc_cat_item.name}}</h1>
          <div ng-if="::data.sc_cat_item.picture">
            <img class="img-responsive catalog-item-image guide-image" style="display: inline" ng-src="{{::data.sc_cat_item.picture}}" />
          </div>
          <div ng-if="data.sc_cat_item.description" class="m-t" ng-bind-html="data.sc_cat_item.description"></div>
        </div>
        <div class="wrapper-md b-t">
          <sp-model form-model="data.sc_cat_item" mandatory="data.sc_cat_item._mandatory" ></sp-model>
        </div>
      </div>
      
      <div class="panel panel-default" ng-if="included.length">
        <div class="wrapper-md">
          <h1 class="h2 m-n font-thin">${Included Items...}</h1>
        </div>

        <div class="wrapper-md b-t">
          <div class="panel panel-default" ng-repeat="item in included | orderBy: 'order'" id="{{item.sys_id}}">
            <div class="panel-heading"><h4>{{item.name}}</h4></div>
            <div class="panel-body">
              <div ng-if="::item.picture">
                <img class="img-responsive catalog-item-image guide-item-image" style="display: inline" ng-src="{{::item.picture}}" />
              </div>
              <div>{{item.short_description}}</div>
              <sp-cat-item item="item" />
              <sp-model form-model="item" mandatory="item._mandatory"></sp-model>
            </div>
            <div ng-if="data.showPrices && (item.price || item.recurring_price)" class="panel-footer bg-white">{{item.price}} {{item.recurring_price}}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h4 class="panel-title">${Items}</h4>
        </div>

        <div ng-if="included.length > 0" class="list-group">
          <a class="list-group-item" href=""
             ng-click="scrollTo(item)"
             ng-repeat="item in included | orderBy: 'order'">
            <i class="fa fa-chevron-right m-r-sm"></i>
            {{item.name}}
          </a>
        </div>

        <div class="wrapper-md">
          <div class="m-b-xs" ng-if="data.showPrices && price">${Total price}: {{price_display}}</div>
          <button ng-disabled="submitted" name="submit" ng-click="triggerOnSubmit()" class="btn btn-primary">{{submitButtonMsg}}</button>
          <span ng-if="submitting" style="padding-left:4px">${Submitting...}</span>
          <div ng-if="hasMandatory()" class="alert alert-info" style="margin-top: .5em">
            <span ng-if="flatMandatory.length > 0">${Required information} </span>
            <span ng-repeat="f in flatMandatory" class="label label-danger" ng-click="scrollToVar(f)" style="margin-right: 1em;display:inline-block;text-align:inherit;white-space:inherit;margin-top:.3em">{{f.label}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>