<h1 class="font-thin m-t-none">{{::options.title}}</h1> 

<div class="row" >      
  <div class="col-sm-6 col-md-4" ng-repeat="item in data.items">

    <div class="panel panel-default">
      <a href="?id=sc_cat_item&sys_id={{item.sys_id}}" class="panel-body block">
        <div class="overflow-100">
          <h4 class="m-t-none m-b-xs">{{::item.name}}</h4>
          <img ng-src="{{item.picture}}" ng-if="item.picture" class="m-r-sm m-b-sm item-image pull-left" />
          <div class="text-muted item-short-desc">{{::item.short_description}}</div>
        </div>
      </a>
      <div class="panel-footer">
        <a href="?id=sc_cat_item&sys_id={{item.sys_id}}" class="pull-left text-muted">${View Details}</a> <span ng-if="data.showPrices && item.price != '$0.00'" class="pull-right item-price font-bold">{{::item.price}}</span> &nbsp;
      </div>
    </div>

  </div>
</div>