<div ng-if="c.data.savedCarts.length > 0" class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">${Saved Bundles}</h4>
  </div>

  <div class="list-group">
    <div class="list-group-item" href=""
         ng-repeat="cart in c.data.savedCarts | orderBy: 'order'">
      <span>{{cart.name}}</span>
      <a href="javascript:void(0)" name="submit" ng-click="c.loadCart(cart)" class="pull-right">${Open}</a><span class="pull-right m-r-sm m-l-sm"> | </span><a href="javascript:void(0)" ng-click="c.removeCart(cart)" class="pull-right">${Remove}</a>
    </div>
  </div>
</div>