<div ng-if="data.loggedIn && data.serviceID" class="panel panel-{{options.color}} b">
  <div class="panel-heading">
    <h4 class="panel-title">${Service Status Updates}<span ng-if="data.subscriber" class="fa fa-envelope" style="float:right"></span></h4>
  </div>

  <div class="panel-body">
    <div ng-if="data.subscriber">
      <div class="m-b">${You are currently subscribed to updates on this Service's status}</div>
      <button class="btn btn-primary btn-block" ng-click="c.unsubscribe()">${Unsubscribe From Updates}</button>
    </div>
    <div ng-if="!data.subscriber">
      <div class="m-b">${You are not subscribed to updates on this Service's status}</div>
      <button class="btn btn-primary btn-block" ng-click="c.subscribe()">${Subscribe To Updates}</button>
    </div>
  </div>
</div>