<div class="panel panel-{{::options.color}} b">
  <div class="panel-heading">
    <h4 class="panel-title">${Legend}</h4>
  </div>

  <div class="panel-body">
    <div style="margin-left:-20px;margin-right:-20px;">
      <div class="col-xs-12">
        <div class="col-xs-2"><i style="color:#5cb85c;font-size:18px;cursor:default;" class="fa fa-check-circle" tooltips tooltip-template="{{::data.noIssuesMsg}}"></i></div>
        <div class="col-xs-10">{{::data.noIssuesMsg}}</div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2"><i style="color:#5bc0de;font-size:18px;cursor:default;" class="fa fa-info-circle" tooltips tooltip-template="{{::data.maintenanceMsg}}"></i></div>
        <div class="col-xs-10">{{::data.maintenanceMsg}}</div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2"><i style="color:#f0ad4e;font-size:18px;cursor:default;" class="fa fa-minus-circle" tooltips tooltip-template="{{::data.degradationMsg}}"></i></div>
        <div class="col-xs-10">{{::data.degradationMsg}}</div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2"><i style="color:#BB0000;font-size:18px;cursor:default;" class="fa fa-exclamation-circle" tooltips tooltip-template="{{::data.outageMsg}}"></i></div>
        <div class="col-xs-10">{{::data.outageMsg}}</div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2"><i style="color:#6E4CDD;font-size:18px;cursor:default;" class="fa fa-plus-circle" tooltips tooltip-template="{{::data.multipleMsg}}"></i></div>
        <div class="col-xs-10">{{::data.multipleMsg}}</div>
      </div>
    </div>
  </div>
</div>