<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">${Available}</h4>
      </div>
      <div class="b-b has-feedback">
        <label class="control-label sr-only">Filter</label>
        <input placeholder="Filter" type="text" ng-model="c.search" class="no-border form-control"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
      <div class="list-group sortable-container" style="height:286px" data-as-sortable data-ng-model="c.all">
        <div class="sortable-item" ng-repeat="item in c.all | filter:c.search" data-as-sortable-item>
          <div class="list-group-item" data-as-sortable-item-handle>
            <i class="sp-drag-dots" style="position:relative; top: 3px;" />
            <span class="m-l-sm sortable-item-title">{{item.label}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">${Selected}</h4>
      </div>
      <div class="list-group sortable-container" style="height:319px" data-as-sortable data-ng-model="c.selected">
        <div class="sortable-item" ng-repeat="item in c.selected" data-as-sortable-item>
          <div class="list-group-item" data-as-sortable-item-handle>
            <i class="sp-drag-dots" style="position:relative; top: 3px;" />
            <span class="m-l-sm sortable-item-title">{{item.label}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <button ng-click="c.update()" class="btn btn-primary pull-right">${Update}</button>
  </div>

</div>