<div>
  <div ng-if="c.data.question" >
    <!-- BEGIN Question -->
    <div class="panel panel-default question">
      <div class="panel-heading">
      	<h3 class="m-n">{{c.data.question.question}}</h3>
   	  </div>
      <div class="panel-body">
        <div class="row m-b m-t m-r-none m-l-none">
          <div class="col-md-1 col-sm-2 hidden-xs vote-block">
            <div class="vote-up-button">
            <i class="vote fa fa-sort-asc"
               ng-click="c.vote($event, 'kb_social_qa_question', c.data.question.sys_id, true)"
               ng-class="{'active': c.showActiveArrow(c.data.question.sys_id, true), 'disabled': c.questionVotingDisabled()}"
               ></i>
            </div>
            <div>{{c.getVoteCount(c.data.votes[c.data.question.sys_id])}}</div>
            <div class="vote-down-button">
            <i class="vote fa fa-sort-desc"
               ng-click="c.vote($event, 'kb_social_qa_question', c.data.question.sys_id, false)"
               ng-class="{'active': c.showActiveArrow(c.data.question.sys_id, false), 'disabled': c.questionVotingDisabled()}"
               ></i>
            </div>
            <i ng-if="!data.userIsGuest"
               class="fa fa-star m-t-xs vote"
               ng-click="c.toggleSubscribe($event)"
               ng-style="c.isSubscribedStyle()"
               ></i>
          </div>
          <div class="col-md-11 col-sm-10 col-xs-11">
            <div class="col-xs-2 visible-xs-inline-block vote-block">
              <div class="vote-up-button">
            <i class="vote fa fa-sort-asc"
               ng-click="c.vote($event, 'kb_social_qa_question', c.data.question.sys_id, true)"
               ng-class="{'active': c.showActiveArrow(c.data.question.sys_id, true), 'disabled': c.questionVotingDisabled()}"
               ></i>
              </div>
            <div>{{c.getVoteCount(c.data.votes[c.data.question.sys_id])}}</div>
              <div class="vote-down-button">
            <i class="vote fa fa-sort-desc"
               ng-click="c.vote($event, 'kb_social_qa_question', c.data.question.sys_id, false)"
               ng-class="{'active': c.showActiveArrow(c.data.question.sys_id, false), 'disabled': c.questionVotingDisabled()}"
               ></i>
              </div>
            <i ng-if="!data.userIsGuest"
               class="fa fa-star m-t-xs vote"
               ng-click="c.toggleSubscribe($event)"
               ng-style="c.isSubscribedStyle()"
               ></i>
          </div>
            <div class="row m-b break-word">
              <div class="qa-text">
                <sp-html-content ng-if="!c.data.question.editState" model="c.data.question.question_details"></sp-html-content>
                <div ng-if="c.data.question.editState">
                  <sp-tinymce-editor ng-model="c.data.question.draft" ng-model-options="{}" class="create-answer"></sp-tinymce-editor>
                  <button name="save" type="submit" ng-click="c.edit(c.data.question, 'question_details', 'kb_social_qa_question')" class="btn btn-primary m-t pull-right">${Save}</button>
                  <button name="cancel" type="submit" ng-click="c.toggleEdit($event, c.data.question, 'question_details')" class="btn btn-default m-t m-r-sm pull-right">${Cancel}</button>
                </div>
              </div>
            </div>
            <div class="visible-xs-inline-block">
              <a ng-repeat="tag in c.data.question.tags" ng-href="?id=sqa_tagged_questions&sys_id={{tag.sys_id}}" class="question-tag">{{tag.name}}</a>
            </div>
            <div class="row hidden-xs">
              <a ng-repeat="tag in c.data.question.tags" ng-href="?id=sqa_tagged_questions&sys_id={{tag.sys_id}}" class="question-tag">{{tag.name}}</a>
            </div>
            <div class="row m-b m-t">
              <div class="btn-group">
                <button ng-if="!data.userIsGuest" type="button" class="btn btn-link dropdown-toggle option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ${Share}
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" data-toggle="modal" data-target="#shareModal"><span class="fa fa-comments share-icon"></span>${Share via Connect}</a></li>
                  <li><a ng-href="mailto:?to=&body={{c.link}},&subject={{c.data.question.question}}"><span class="fa fa-envelope share-icon"></span>${Share via Email}</a></li>
                </ul>
              </div>
              <i class="fa fa-circle btn-divider" ng-if="!data.userIsGuest"></i>
              <button class="btn btn-link option" ng-click="c.data.question.addCommentState = !c.data.question.addCommentState" ng-if="!data.userIsGuest">${Comment}</button>
              <i class="fa fa-circle btn-divider" ng-if="c.data.question.profile.sys_id === c.data.liveProfileID"></i>
              <button class="btn btn-link option" ng-click="c.toggleEdit($event, c.data.question, 'question_details')" ng-if="c.data.question.profile.sys_id === c.data.liveProfileID">${Edit}</button>
              <div class="hidden-xs pull-right">
                <sn-time-ago timestamp="c.data.question.sys_created_on"></sn-time-ago>
                <i class="fa fa-circle"></i>
                ${Asked by} <a href="javascript:void(0)" ng-click="c.goToUser(c.data.question.profile.document.sys_id)">{{c.data.question.profile.name}}</a>
                <sn-avatar class="m-l-xs" primary="c.data.question.profile.document.sys_id"></sn-avatar>
              </div>
            </div>
            <div class="row visible-xs-block m-b mobile-timeago">
              <sn-avatar primary="c.data.question.profile.document.sys_id"></sn-avatar>
              <a href="javascript:void(0)" ng-click="c.goToUser(c.data.question.profile.document.sys_id)">{{c.data.question.profile.name}}</a>
              <sn-time-ago class="pull-right" timestamp="c.data.question.sys_created_on"></sn-time-ago>
            </div>
            <div ng-if="c.data.question.addCommentState" class="row m-r-none m-b comment-entry">
              <input ng-keydown="c.handleCommentSubmitEvent($event, c.data.question, 'kb_social_qa_question')" class="form-control" placeholder="{{c.data.commentMsg}}" ng-model="c.data.question.commentDraft"/>
              <button name="comment" type="button" ng-click="c.postComment($event, c.data.question, 'kb_social_qa_question')" class="btn btn-primary m-l-sm pull-right m-t-sm">${Post comment}</button>
              <button name="cancel" type="button" ng-click="c.cancelComment($event, c.data.question)" class="btn btn-default pull-right m-t-sm">${Cancel}</button>
            </div>
            <div ng-repeat="comment in c.data.comments[data.question.sys_id] | orderBy:'timestamp'" class="row wrapper-sm comment break-word">
              <div ng-if="!comment.editState">
                {{comment.comment}} -
                <a href="javascript:void(0)" ng-click="c.goToUser(comment.profile.document.sys_id)">{{comment.profile.name}}</a>
                <i class="fa fa-circle"></i>
                <sn-time-ago timestamp="comment.sys_created_on"></sn-time-ago>
                <span ng-if="comment.profile.sys_id === c.data.liveProfileID"> <i class="fa fa-circle"></i> <a href="javascript:void(0)" ng-click="c.toggleEdit($event, comment, 'comment')">${Edit}</a></span>
              </div>
              <div ng-if="comment.editState">
                <input class="form-control" placeholder="{{c.data.commentMsg}}" ng-model="comment.draft"/>
                <button name="save" type="button" ng-click="c.edit(comment, 'comment', 'kb_social_qa_comment')" class="btn btn-primary m-l-sm pull-right m-t-sm">${Save}</button>
                <button name="cancel" type="button" ng-click="c.toggleEdit($event, comment, 'comment')" class="btn btn-default pull-right m-t-sm">${Cancel}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Question -->
    <!-- BEGIN Answers -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 ng-if="c.data.answers.length === 1" class="panel-title">{{c.data.answers.length}} ${Answer}</h4>
        <h4 ng-if="c.data.answers.length !== 1" class="panel-title">{{c.data.answers.length}} ${Answers}</h4>
      </div>
      <div class="panel-body">
        <div ng-repeat="answer in c.data.answers" ng-class="{'light-border-bottom': !$last}" class="answer row m-r-none m-l-none m-t padder-b">
          <div class="col-md-1 col-sm-2 col-xs-2 vote-icon-size vote-block">
            <div class="vote-up-button" ng-show="answer.profile.sys_id !== c.data.liveProfileID">
            <i class="vote fa fa-sort-asc"
               ng-click="c.vote($event, 'kb_social_qa_answer', answer.sys_id, true)"
               ng-class="{'active': c.showActiveArrow(answer.sys_id, true), 'disabled': data.userIsGuest}"
               ></i>
            </div>
            <div ng-class="{'hidden-voting-controls': answer.profile.sys_id === c.data.liveProfileID}">{{c.getVoteCount(c.data.votes[answer.sys_id])}}</div>
            <div class="vote-down-button" ng-show="answer.profile.sys_id !== c.data.liveProfileID">
            <i class="vote fa fa-sort-desc"
               ng-click="c.vote($event, 'kb_social_qa_answer', answer.sys_id, false)"
               ng-class="{'active': c.showActiveArrow(answer.sys_id, false), 'disabled': data.userIsGuest}"
               ></i>
              </div>
            <i ng-show="answer.accepted" class="fa fa-check-circle text-success m-t-xs"></i>
          </div>
          <div class="col-md-11 col-sm-10 col-xs-10">
            <div class="row m-b break-word">
              <div class="qa-text">
                <sp-html-content ng-if="!answer.editState" model="answer.answer"></sp-html-content>
                <div ng-if="answer.editState">
                  <sp-tinymce-editor ng-model="answer.draft" ng-model-options="{}" class="create-answer"></sp-tinymce-editor>
                  <button name="save" type="submit" ng-click="c.edit(answer, 'answer', 'kb_social_qa_answer')" class="btn btn-primary m-t pull-right">${Save}</button>
                  <button name="cancel" type="submit" ng-click="c.toggleEdit($event, answer, 'answer')" class="btn btn-default m-t m-r-sm pull-right">${Cancel}</button>
                </div>
              </div>
            </div>

            <div class="row m-b m-t">
              <div>
                <button class="btn btn-link option" ng-click="answer.addCommentState = !answer.addCommentState" ng-if="!data.userIsGuest">${Comment}</button>
                <i class="fa fa-circle btn-divider" ng-if="answer.profile.sys_id === c.data.liveProfileID && !data.userIsGuest"></i>
                <button class="btn btn-link option" ng-click="c.toggleEdit($event, answer, 'answer')" ng-if="answer.profile.sys_id === c.data.liveProfileID">${Edit}</button>
                <i class="fa fa-circle btn-divider" ng-if="c.data.question.profile.sys_id === c.data.liveProfileID"></i>
                <button class="btn btn-link option" ng-if="c.data.question.profile.sys_id === c.data.liveProfileID && !answer.accepted"
                   ng-click="c.toggleAccept($event, answer.sys_id, true)">${Accept}</button>
                <button class="btn btn-link option" ng-if="c.data.question.profile.sys_id === c.data.liveProfileID && answer.accepted"
                   ng-click="c.toggleAccept($event, answer.sys_id, false)">${Unaccept}</button>
                <div class="hidden-xs pull-right">
                  <sn-time-ago timestamp="answer.sys_created_on"></sn-time-ago>
                  <i class="fa fa-circle"></i>
                  ${Answered by} <a href="javascript:void(0)" ng-click="c.goToUser(answer.profile.document.sys_id)">{{answer.profile.name}}</a>
                  <sn-avatar class="m-l-xs" primary="answer.profile.document.sys_id"></sn-avatar>
                </div>
              </div>
            </div>
            <div class="row visible-xs-block m-b">
              <sn-avatar primary="answer.profile.document.sys_id"></sn-avatar>
              <a href="javascript:void(0)" ng-click="c.goToUser(answer.profile.document.sys_id)">{{answer.profile.name}}</a>
              <sn-time-ago class="pull-right" timestamp="answer.sys_created_on"></sn-time-ago>
            </div>

            <div ng-if="answer.addCommentState" class="row m-b comment-entry">
              <input class="form-control" ng-keydown="c.handleCommentSubmitEvent($event, answer, 'kb_social_qa_answer')" placeholder="{{c.data.commentMsg}}" ng-model="answer.commentDraft"/>
              <button name="comment" type="button" ng-click="c.postComment($event, answer, 'kb_social_qa_answer')" class="btn btn-primary pull-right m-l-sm m-t-sm">${Post comment}</button>
              <button name="cancel" type="button" ng-click="c.cancelComment($event, answer)" class="btn btn-default pull-right m-t-sm">${Cancel}</button>
            </div>
            <div ng-repeat="comment in c.data.comments[answer.sys_id] | orderBy:'timestamp'" class="row wrapper-sm comment break-word">
              <div class="comment-content" ng-if="!comment.editState">
                {{comment.comment}} -
                <a href="javascript:void(0)" ng-click="c.goToUser(comment.profile.document.sys_id)">{{comment.profile.name}}</a>
                <i class="fa fa-circle"></i>
                <sn-time-ago timestamp="comment.sys_created_on"></sn-time-ago>
                <span ng-if="comment.profile.sys_id === c.data.liveProfileID"> <i class="fa fa-circle"></i> <a href="javascript:void(0)" ng-click="c.toggleEdit($event, comment, 'comment')">${Edit}</a></span>
              </div>
              <div ng-if="comment.editState">
                <input class="form-control" placeholder="{{c.data.commentMsg}}" ng-model="comment.draft"/>
                <button name="save" type="button" ng-click="c.edit(comment, 'comment', 'kb_social_qa_comment')" class="btn btn-primary m-l-sm pull-right m-t-sm">${Save}</button>
                <button name="cancel" type="button" ng-click="c.toggleEdit($event, comment, 'comment')" class="btn btn-default pull-right m-t-sm">${Cancel}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Answers -->
    <div ng-if="!data.userIsGuest" class="panel panel-default light-border-bottom ">
      <div class="panel-heading">
        <h4 class="panel-title">${Your Answer}</h4>
      </div>
      <div class="panel-body">
        <div class="row m-t">
          <div class="col-xs-12">
            <sp-tinymce-editor ng-model="c.createAnswerDraft" ng-model-options="{}" class="create-answer"></sp-tinymce-editor>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button name="postAnswer" type="submit" ng-disabled="c.createAnswerDraft.length <= 0" ng-click="c.createAnswer()" class="btn btn-primary">${Post Your Answer}<i class="icon icon-loading"></i></button>
      </div>
    </div>
    <div ng-if="data.userIsGuest" class="panel panel-default light-border-bottom">
      <div class="panel-body">
        <div class="row">
          <h4 class="m-t-none padder-b light-border-bottom m-l-none m-r-none">${Your Answer}</h4>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <p><strong>${Have an answer?}</strong></p>
            <p>${Please log in to answer this question}</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <widget id="widget-login"></widget>
          </div>
        </div>
    </div>
  </div>
  <div ng-if="!c.data.question && c.data.questionID">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4 class="panel-title">${Question not found}</h4></div>
          <div class="panel-body wrapper">
            <p>${This question does not exist}</p>
            <p>${Suggestions:}</p>
            <ul>
              <li>${To ask a new question,} <a href="?id=sqanda_new_question&table=kb_social_qa_question&sys_id=-1&spa=1">${click here}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="Share Question">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="shareModalLabel">${Share Question}</h4>
          </div>
          <div class="modal-body">
            <sp-recipient-list class="input-item" recipients-msg="c.data.recipientsMsg" ng-model="c.recipientList"></sp-recipient-list>
            <input ng-model="c.optionalMessage" type="text" class="form-control input-item" placeholder="{{c.data.optionalMsg}}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">${Close}</button>
            <button type="button" ng-click="c.shareConnect($event)" class="btn btn-primary">${Send}</button>
          </div>
        </div>
      </div>
    </div>
</div>