<div ng-if="data.canRead && data.canWrite" ng-show="locationSupported">
  <div ng-show="!requested" class="panel panel-{{options.color}} b">
    <div class="panel-heading padder-b-none">
      <div class="panel-title pull-left">${Location}</div>
      <a href="javascript:void(0)" ng-click="getLocation()" class="panel-button" title="Check in location">
        <span class="glyphicon glyphicon-globe"></span>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>
  <div ng-show="requested" class="panel b panel-{{options.color}} ">
    <div ng-show="!address" class="panel-heading"><h4 class="panel-title">{{status}}</h4></div>
    <div ng-show="address" class="panel-heading"><h4 class="panel-title">${Location Shared}</h4></div>
    <div ng-show="address" class="geo-address wrapper"><p class="text-muted m-n"><span>{{address}}</span></p></div>
    <div id="map-container">
      <div ng-show="mapInit" class="sp-geo-canvas-container"></div>
    </div>
    <div ng-show="data.others.length > 0" style="padding-bottom:4px;">
      <span ng-repeat="other in data.others">
        <span class="other-item">
          <img class="map-icon" ng-src="/images/google_map_man_{{($index % 8) + 1}}.gif"/><span class="other-name">{{other.name}}</span>
        </span>
      </span>
    </div>
  </div>
</div>