<div class="fs-window flex-column2">
  <div ng-if="c.data.sys_id" class="flex-row2 content">
    <label>${Widget}</label>

    <div class="rp">
      <sn-record-picker class="rp"
                        field="c.ed_widget" table="'sp_widget'"
                        display-field="'name'" value-field="'sys_id'"
                        display-fields="'id'" search-fields="'id,name'" page-size="100" options="c.pickerOptions"></sn-record-picker>
    </div>
    <label class="group">${Show}</label>
    <span class="check" ng-repeat="(key, section) in c.getCodeBlocks()" ng-if="section.enabled">
      <label ng-class="{'has-content': (data.f._fields[key].value.length)}">
        <input type="checkbox" ng-model="section.display" ng-change="c.saveLayout()" />{{section.title}}
      </label>
    </span>

    <div ng-if="c.data.angularProviders.length" class="rp">
      <sp-dep-manager options="c.data.angularProviders" label="c.data.depsMsg" prefs="c.data.providersPref"></sp-dep-manager>
    </div>
    <div class="flex2"></div>
    <div class="button-nav">
      <div class="btn-group">
        <button type="button" ng-click="c.toggle('preview')" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[c.codeBlocks.preview.display && c.data.f._fields.has_preview.value == 'true']" ng-disabled="c.data.f._fields.has_preview.value == 'false'">
          <span class="glyphicon" ng-class="(c.data.f._fields.has_preview.value == 'true') ? 'glyphicon-eye-open': 'glyphicon-eye-close'"></span>
        </button>
      </div>
      <!--
<div class="btn-group">
<button type="button" ng-click="c.toggle('documentation')" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[c.codeBlocks.documentation.display]"><fa name="info-circle" /></button>
</div>
-->
      <div ng-if="c.data.canWrite" class="btn-group">
        <button type="submit" ng-click="c.save()" class="btn btn-primary">${Save} <span ng-if="c.saveButtonSuffix">({{c.saveButtonSuffix}})</span></button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa name="bars" />
        </button>
        <ul class="dropdown-menu dropdown-menu-right config-dropdown">
          <li ng-if="!data.f._fields.public.sys_readonly">
            <div class="checkbox m-l">
              <label>
                <input type="checkbox" ng-model="c.data.f._fields.public.value">
                ${Public Widget}
              </label>
            </div>
          </li>
          <li ng-if="!data.f._fields.has_preview.sys_readonly">
            <div class="checkbox m-l">
              <label>
                <input type="checkbox" ng-model="c.data.f._fields.has_preview.value" ng-true-value="'true'" ng-false-value="'false'">
                ${Enable Preview}
              </label>
            </div>
          </li>
          <li ng-if="!data.f._fields.option_schema.sys_readonly">
            <a href="javascript:void(0)" ng-click="c.editOptionSchema($event)">${Edit option schema}</a>
          </li>
          <li ng-if="data.canCreate && !data.f._fields.option_schema.sys_readonly || !data.f._fields.public.sys_readonly || !data.f._fields.has_preview.sys_readonly" role="separator" class="divider"></li>
          <li ng-if="data.canCreate"><a href="javascript:void(0)" ng-click="c.add()"><span class="fa fa-plus dropdown-icon"></span>${Create New Widget}</a></li>
          <li ng-if="data.canCreate"><a href="javascript:void(0)" ng-click="c.clone()"><span class="fa fa-copy dropdown-icon"></span>${Clone "{{data.title}}"}</a></li>
        </ul>
      </div>
    </div>
    <span>{{c.status}}</span>
  </div>
  <div ng-if="c.data.sys_id && !c.data.canRead" class="read-only-message">
    <div class="alert alert-info" role="alert">
      <p>${You do not have permission to view this widget.}</p>
    </div>
  </div>
  <div ng-if="c.readOnly" class="read-only-message">
    <div class="alert alert-info" role="alert">
      <p ng-if="!c.data.outOfScope">${This widget is <strong>read only</strong> and cannot be edited<span ng-if="!c.data.f._fields.public.sys_readonly"> except for the <strong>Public</strong> checkbox</span>.} <span ng-if="data.canCreate">${You can clone this widget by clicking the <span class="fa fa-bars"></span> button in the top right corner of the editor}</span></p>
      <p ng-if="c.data.outOfScope">${This widget is in the <strong>{{data.recordScopeLabel}}</strong> application, but <strong>{{data.currentScopeLabel}}</strong> is your current application}. <span ng-if="data.canCreate">${You can clone this widget by clicking the <span class="fa fa-bars"></span> button in the top right corner of the editor}</span></p>
    </div>
  </div>
  <div ng-if="c.data.sys_id && c.data.f._fields.template" class="fs-container flex-row2 flex2" role="editor-container" data-readonly="{{c.readOnly}}">

    <div ng-repeat="(key, section) in c.getCodeBlocks()" ng-if="section.display" class="animate flex2 flex-column2 relative" sp-on-transition="c.transition">
      <label>{{section.title}}</label>
      <div class="close-btn"><button class="btn btn-default btn-xs" ng-click="c.closeBlock(section)"><span class="glyphicon glyphicon-remove"></span></button></div>
      <div ng-switch="section.type">
        <div ng-switch-when="html" class="flex2 flex-fix2">
          <sp-html-editor field="data.f._fields[key]" data-length="4000" sn-disabled="c.isReadOnly(c.data.f._fields[key].sys_readonly)" ng-if="c.updated" />
        </div>
        <div ng-switch-when="css" class="flex2 flex-fix2">
          <sp-css-editor field="data.f._fields[key]" data-length="4000" sn-disabled="c.isReadOnly(c.data.f._fields[key].sys_readonly)" ng-if="c.updated" />
        </div>
        <div ng-switch-default class="flex2 flex-fix2">
          <sp-script-editor field="data.f._fields[key]" data-length="4000" sn-disabled="c.isReadOnly(c.data.f._fields[key].sys_readonly)" ng-if="c.updated" />
        </div>
      </div>
    </div>

    <div ng-repeat="provider in c.data.angularProviders" ng-if="provider.show" class="animate flex2 flex-column2 relative" sp-on-transition="c.transition">
      <label>{{provider.name}}</label>
      <div class="close-btn"><button class="btn btn-default btn-xs" ng-click="c.closeProvider(provider)"><span class="glyphicon glyphicon-remove"></span></button></div>
      <div class="flex2 flex-fix2">
        <sp-script-editor field="provider.f._fields.script" data-length="4000" ng-if="c.updated"
                          sn-disabled="c.isReadOnly(provider.f._fields.script.sys_readonly)" ng-change="c.codeHasChanged = true"/>
      </div>
    </div>

    <div ng-if="c.codeBlocks.preview.display && c.data.f._fields.has_preview.value == 'true'" class="flex2 flex-column2 relative" sp-on-transition="c.transition">
      <label class="preview-label">Preview</label>
      <div class="close-btn"><button class="btn btn-default btn-xs" ng-click="c.closeBlock(c.codeBlocks.preview)"><span class="glyphicon glyphicon-remove"></span></button></div>
      <div class="flex2 flex-fix2">
        <div class="widget-preview-block" ng-if="c.codeBlocks.preview.widget">
          <sp-preview options="c.data.sys_id"></sp-preview>
        </div>
      </div>
    </div>

    <div ng-if="c.codeBlocks.documentation.display" class="animate flex2 flex-column2 relative" sp-on-transition="c.transition">
      <div class="doc flex2 flex-fix2">
        <div class="doc-icons">
          <button type="button" class="btn btn-default" ng-click="c.docToggleMode()"><span class="glyphicon" ng-class="{edit: 'glyphicon-eye-open', preview: 'glyphicon-pencil'}[c.codeBlocks.documentation.mode]"></span></button>
        </div>
        <div>
          <sp-epiceditor field="c.data.updatedDocContent" ng-if="c.updated"></sp-epiceditor>
        </div>
      </div>
    </div>
  </div>
  <sp-widget widget="c.widgetOptionSchemaModal" ng-if="c.widgetOptionSchemaModal"></sp-widget>

  <!-- Empty state -->
  <div ng-if="!c.data.sys_id" class="empty-state-wrapper">
    <div class="empty-state">
      <h2 class="empty-state-header">${Widget Editor}</h2>
      <div class="empty-state-content">
        <div class="empty-state-badge fa fa-list-alt"></div>
        <div class="empty-state-list">
          <h3 class="empty-state-header m-t-none">${Recently Updated}</h3>
          <div class="list-group" style="max-height: none; overflow-y: auto;">
            <a ng-repeat="widget in c.data.recentWidgets" class="list-group-item" ng-href="?id=widget_editor&sys_id={{widget.sys_id}}">
              {{widget.name}}
            </a>
          </div>
        </div>
        <div class="empty-state-instructions">
          <p>${Widget Editor is a development tool that allows you to view and edit the source code for existing widgets, create new widgets from scratch, and update the various properties of those widgets.}</p>
          <ul>
            <li>${Check out the} <a href ng-click="c.example('6f2cff80d721120023c84f80de61033c')">${Hello World Example}</a></li>
            <li ng-if="data.canCreate"><a href ng-click="c.add()">${Create a new widget}</a></li>
            <li>${Edit an existing widget}</li>
            <div class="rp m-t-xs">
              <sn-record-picker class="rp" placeholder="${Select a widget}"
                                field="c.ed_widget" table="'sp_widget'"
                                display-field="'name'" value-field="'sys_id'"
                                display-fields="'id'" search-fields="'id,name'"
                                page-size="100" options="c.pickerOptions"></sn-record-picker>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>