<div class="panel panel-{{::c.options.color}} b">
  <div class="panel-heading">    
    <div class="hidden-xs row">
      <span class="col-sm-7">${Status History}</span>
      <span ng-repeat="date in ::data.dates" class="col-sm-1 status-hr" ng-bind="::date"></span>
    </div>
    <div class="visible-xs row">    
      <div class="col-xs-9">${Status History}</div>      
      <div class="col-xs-3 status-column">        
        <i class="fa fa-arrow-left" ng-click="c.left()" ng-class="{disabled: (c.index == 0)}"></i>
        <span ng-bind="data.dates[c.index]"></span>
        <i class="fa fa-arrow-right" ng-click="c.right()" ng-class="{disabled: (c.index == 4)}"></i>              
      </div>    
    </div>                    
  </div>
  <!-- mobile view -->
  <div ng-if="c.updated" class="visible-xs panel-body">           
    <div ng-repeat="category in ::c.data.categories">    
      <h5 ng-bind="::category.label"></h5>                     
      <div ng-repeat="service in ::category.services" class="row service">        
        <div class="col-xs-9">
          <small ng-if="::service.subscribed" class="subscribed" title="Subscribed to updates"><i class="fa fa-envelope"></i></small>        
          <a ng-href="?id=service_status&service={{::service.sys_id}}">{{::service.name}}</a>
        </div>        
        <div class="col-xs-3 status-column">
          <span class="fa" ng-class="service.outages[4-c.index].icon" tooltips tooltip-template="{{::service.outages[4-c.index].msg + c.data.dates[c.index]}}"></span> 
        </div>        
      </div>             
    </div>
  </div>
  <!-- desktop view -->
  <div class="hidden-xs panel-body" ng-repeat="category in ::c.data.categories">
    <h5 ng-bind="::category.label"></h5>                     
    <div ng-repeat="service in ::category.services" class="row service">
      <div class="col-sm-7">
        <small ng-if="::service.subscribed" class="subscribed" title="{{data.subscribedMsg}}"><i class="fa fa-envelope"></i></small>        
        <a ng-href="?id=service_status&service={{::service.sys_id}}">{{::service.name}}</a>
      </div>
      <div ng-repeat="n in [0,1,2,3,4] track by $index" class="col-sm-1 status-column">
        <span class="fa" ng-class="::service.outages[4-$index].icon" tooltips tooltip-template="{{::service.outages[4-$index].msg + data.dates[$index]}}"></span>
      </div>
    </div>
  </div>
</div>