<div class="{{::c.options.class_name}} wrapper label-{{::c.options.color}}" ng-if="c.options.table">  
  <a ng-href="?id={{::c.options.sp_page_dv}}&table={{::c.options.table}}&filter={{::c.options.filter}}">
    <div class="row">
      <div class="col-xs-3">
        <span class="fa fa-{{::c.options.glyph}} fa-3x text-white" />
      </div>
      <div class="col-xs-9 text-right">
        <div class="h2 count">{{c.data.count}}</div>
      </div>
    </div>
    <div class="text-right text-white">{{::c.options.title}}</div>
  </a>
</div>
