<div>
  <div ng-if="data.invalid_table">
    <div class="alert alert-info">
      <span ng-if="data.table_label">${Table not defined} '{{data.table_label}}'</span>
      <span ng-if="!data.table_label">${Select table on field below or specify on URL} ?id=list&amp;table=table_name</span>
    </div>
    <sn-record-picker field="selectedTable" table="'sys_db_object'" 
                      display-field="'label'" 
                      value-field="'name'" 
                      display-fields="'name'" 
                      search-fields="'label,name'" page-size="100" on-change="onChange()" ></sn-record-picker>
  </div>
  <div ng-if="data.dataTableWidget && !data.invalid_table">
  	<sp-widget widget="data.dataTableWidget"></sp-widget>
  </div>  
</div>