<div ng-if="data.isvalid" class="panel panel-{{options.color}} b">

  <div class="panel-heading">
    <h4 class="panel-title">{{::data.short_description}}<span class="pull-right">{{::data.number}}</span></h4>
  </div>

  <div class="panel-body m-b-lg wrapper-lg">

    <div class="row m-b-lg b-b">
        <span class="author pad-right" ng-if="data.author">
          <glyph sn-char="user" class="pad-right" />
          ${Authored by {{::data.author}}}
        </span>
        <span ng-if="data.sys_view_count == 1" class="views pad-right">
          <span class="pad-right">&#8226;</span> <glyph sn-char="eye-open" class="pad-right" />
          ${{{::data.sys_view_count}} View}
        </span>
        <span ng-if="data.sys_view_count > 1" class="views pad-right">
          <span class="pad-right">&#8226;</span> <glyph sn-char="eye-open" class="pad-right" />
          ${{{::data.sys_view_count}} Views}
        </span>
        <span class="published pad-right">
          <span class="pad-right">&#8226;</span> <glyph sn-char="calendar" class="pad-right" />
          <sn-day-ago date="data.publishedUtc"/>
        </span>
        <span ng-if="data.rating > 0 && !data.direct" title="{{::data.rating}} rating">
          <span class="pad-right">&#8226;</span> <uib-rating ng-model="::data.rating" max="5" readonly="true"/>
        </span>
    </div>

    <div ng-if="!data.direct" class="kb_article" ng-bind-html="::data.text" style="overflow-x:auto;"></div>

    <h4 ng-if="data.direct">
      ${View or download the attachments below}
    </h4>
    <div ng-if="::data.showAttachments || data.direct" class="b-t m-t">
      <sp-attachment-manager table="'kb_knowledge'" sys-id="data.sys_id" omit-edit="true"></sp-attachment-manager>
    </div>

  </div>
</div>

<div ng-if="!data.isvalid">
  ${Article not found}
</div>