<hr/>
<form ng-submit="server.update()" ng-if="!data.disabled && data.isValid" >
  <div class="form-group">
    <label for="comment"><h4>${Add your comment}</h4></label>
    <textarea ng-model="data.comments" class="form-control" rows="2" id="comment"></textarea>
    ${Rate this article}<uib-rating ng-model="data.rating" max="5"></uib-rating>
    <input type="submit" id="submit" value="{{data.submitMsg}}" class="btn btn-primary" style="margin-top: 5px;" ng-disabled="!data.comments && !data.rating"/>
  </div>  
</form>
<div ng-if="data.response" class="alert alert-success">{{::data.response}}</div>
<h4 ng-if="data.feedback.length > 0">${Comments}</h4>
<div ng-if="data.feedback" ng-repeat="feedback in data.feedback" style="margin-bottom: 1em">
  <div style="font-weight: bold">
    <span ng-if="feedback.user">{{::feedback.user}}</span>
    <span> - <sn-time-ago timestamp="::feedback.sys_created_on" /></span>
    <span ng-if="feedback.useful">
      <glyph sn-char="thumbs-up" ng-if="feedback.useful == 'yes'" />
      <glyph sn-char="thumbs-down" ng-if="feedback.useful == 'no'" />
    </span>
    <span ng-if="feedback.rating"> - </span>
    <uib-rating ng-if="feedback.rating" ng-model="feedback.rating" max="5" readonly="true" />
  </div>
  <div class="break-word">{{::feedback.comments}}</div>
</div>