<div class="panel panel-{{::c.options.color}} b">
  <div class="panel-heading">
    <h4 class="panel-title">${Popular Questions}</h4>
  </div>
  <div ng-if="::(c.data.questions.length == 0)" class="empty-state-content panel-body">
    <p>${No questions have been asked yet}</p>
    <a ng-if="!data.userIsGuest" href="?id=sqanda_new_question" class="btn btn-default btn-block" role="button">${Ask a Question}</a>
  </div>
  <div ng-if="::(c.data.questions.length > 0)" class="list-group" style="max-height: none; overflow-y: auto;">
    <div ng-repeat="question in ::c.data.questions" class="list-group-item">
      <a ng-click="c.clickQuestion($event, question)" href="javascript:void(0)">
        <div>
          <div>{{::question.question}}</div>
          <small class="text-muted m-r-sm"><i class="fa fa-user"></i><span style="padding-left: 5px;">{{::question.profile}}</span></small>
          <small style="white-space: nowrap;" class="text-muted"><i class="fa fa-clock-o"></i><span style="padding-left: 5px;"><sn-time-ago timestamp="question.sys_created_on"></sn-time-ago></span></small>
        </div>
      </a>
    </div>
  </div>
  <div class="panel-footer" ng-if="::(c.data.totalQuestionCount > c.data.questions.length)">
    <h4 class="panel-title">{{::c.getMaxShownLabel(c.options.maximum_entries, c.data.totalQuestionCount)}} 
      <a class="pull-right" href="?id=sqa_tagged_questions&sort=top">${View all}</a>
    </h4>
  </div>
</div>