<div>
  <input type="text" ng-model="ssn.area" class="ssn area form-control input-group" maxlength="3" placeholder="XXX" /><span class="color-gray padding-left-and-right-five-px">-</span>
  <input type="text" ng-model="ssn.group" class=" ssn group form-control input-group" maxlength="2" placeholder="XX" /><span class="color-gray padding-left-and-right-five-px">-</span>
  <input type="text" ng-model="ssn.serial" class="ssn serial form-control input-group" maxlength="4" placeholder="XXXX" />
</div>