<div class="panel-shift">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">    
      <span class="panel-title pull-left">
        ${Widget Options Schema} - {{data.title}} <span ng-if="data.widgetID && data.widgetID != data.title">({{data.widgetID}})</span>
      </span>
      <div ng-if="data.canWrite" class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="c.add()" title="{{::data.addOptionMsg}}"><fa name="plus" /></button>        
      </div>    
    </div>
    <div class="panel-body">
      <div ng-show="data.sys_id">
        <div ng-repeat="opt in c.data.options" class="option" ng-class="{'option-new': (opt.name.length == 0 && opt.label.length == 0)}">
          <form>            
            <div class="form-group remove-wrp">
              <div class="pull-right">
                <button class="btn btn-default remove-btn" title="{{::data.removeOptionMsg}}" ng-click="c.remove(opt, $index)"><fa name="minus" /></button>
              </div>              
            </div>            
            <div class="form-group">              
              <label for="optLabel"><span class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': opt.label.length > 0}"></span> {{::data.labelMsg}}</label>
              <input id="optLabel" ng-disabled="!data.canWrite" class="form-control" ng-model="opt.label" ng-blur="c.updateName(opt, $index)" placeholder="{{::data.optionLabelMsg}}">
            </div>
            <div class="form-group">
              <label for="optName"><span class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': opt.name.length > 0}"></span> {{::data.nameMsg}}</label>
              <input id="optName" ng-disabled="!data.canWrite" class="form-control" ng-model="opt.name" ng-blur="c.fixName(opt)" placeholder="{{::data.nameMsg}}">
            </div>
            <div class="form-group">
              <label for="optType"><span class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': opt.type.length > 0}"></span> {{::data.typeMsg}}</label>
              <select id="optType" ng-disabled="!data.canWrite" ng-model="opt.type" class="sn-select-basic">
                  <option ng-repeat="item in c.type_options" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <!-- additional controls per type -->
            <div class="form-group" ng-if="opt.type == 'reference'">
              <label for="optReference">{{::data.referencedTableMsg}}</label>
              <sn-record-picker id="optReference" sn-disabled="!data.canWrite" field="opt.field" table="'sys_db_object'" 
                                display-field="'label'" 
                                value-field="'name'" 
                                display-fields="'name'" 
                                placeholder="{{::data.selectTableMsg}}"
                                search-fields="'label,name'" page-size="100"></sn-record-picker>
            </div>
            
            <div class="form-group we20-choices" ng-if="opt.type == 'choice'" title="{{::data.choicesMsg}}">
              <label for="optChoices">${Choices}</label>
              <textarea id="optChoices" sn-resize-height="trim" class="form-control" rows="2" ng-disabled="!data.canWrite" ng-model="opt.choices" placeholder="{{::data.oneLinePerChoiceMsg}}"></textarea>
            </div>            
            
            <div class="form-group">
              <label for="optHint">{{::data.hintOptionalMsg}}</label>
              <input id="optHint" ng-disabled="!data.canWrite" class="form-control" ng-model="opt.hint" placeholder="{{::data.hintOptionalMsg}}">
            </div>
            
						<div class="form-group">              
              <label for="defaultValue">{{::data.defaultValueMsg}}</label>
              <input id="defaultValue" ng-disabled="!data.canWrite" class="form-control" ng-model="opt.default_value" placeholder="{{::data.defaultValueMsg}}">
            </div>            
            <div class="form-group" ng-if="opt.type == 'field_name' || opt.type == 'field_list'">
              {{opt.label}} ${Depends on value in field 'table' from widget instance}
            </div>
          </form>
        </div>
        <h4 ng-if="c.data.options.length == 0" class="empty-state">
          ${Use the [+] button to add a new option}
        </h4>
      </div>  
    </div>
    <div class="panel-footer clearfix">
      <div ng-if="data.canWrite">
        <button type="button" class="btn btn-primary pull-right" ng-click="c.save()" title="{{::data.saveMsg}}">{{::data.saveMsg}} <span ng-if="c.saveButtonSuffix">({{c.saveButtonSuffix}})</span></button>
        <span ng-if="saveMsg" style="vertical-align:middle; padding-left:8px;">{{${saveMsg}}}</span>
      </div>
    </div>
  </div>
</div>








