@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
  transition:         $transition;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform:    $transform;
  -o-transform:      $transform;
  transform:         $transform;
}

.spw-announcements-root {
  p {
    margin: 0;
  }

  li {
    display: flex;
    max-height: 62px;
    overflow: hidden;
  }

  h2.panel-title {
    span {
      margin-right: 2px;
    }
  }

  .details {
    width: 100%;
    div.title {
      display: flex;
      width: 100%;
      div, a {
        width: 100%;
        flex-grow: 1;
        color: $primary;
        max-height: 40px;
        overflow: hidden;
        @include transition(max-height 0.1s ease-out);
      }
      a {
        &:hover {
          color: #023363;
        }
      }
    }

    p {
     	max-height: 0;
      overflow: hidden;
      @include transition(max-height 0.1s ease-out);
    }

    a.info-link {
      display: none;
    }
  }

  .glyphicon {
    cursor: pointer;
    visibility: hidden;
    height: 14px;
    margin-left: 10px;
    @include transition(transform 0.10s ease-out);
  }

  .can-expand {
    .glyphicon {
      visibility: visible;
    }
  }

  li.expanded {
    max-height: 1500px;

    .glyphicon {
      @include transform(rotate(-180deg));
      @include transition(transform 0.10s ease-in);
    }

    .details {

      a.info-link {
        display: inline-block;
      }

      p {
        margin: 7.5px 0;
        max-height: 1000px;
        @include transition(max-height 0.50s ease-in);
      }

      div.title {
        div, a {
          max-height: 500px;
          @include transition(max-height 0.15s ease-in);
        }
      }
    }
  }

  .no-margin {
    margin-top: 0 !important;
  }

  .panel-footer {
    a {
      color: inherit;
    }

    a.push-margin {
      margin-top: 6px;
    }
  }
}

.spw-announcements-root.accessibility-off {
  [tabindex]:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}