.panel-body {
  padding: 0;
}

.cab_event_class {
	border-radius: 4px;
	background-color: rgba(189, 220, 252, 0.6) !important;
	border: 1px solid #2e9dd6 !important;
  	color: #303a46;
    height: 18px;
}
div.cab_a11y[id^=cab_event_dialog]:focus,
div[event_id]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
div.cab_a11y[id^=cab_event_dialog]:hover,
div[event_id]:hover {
  outline: 0 !important;
}


.dhx_cal_event {
    border-radius: 4px;
	background-color: rgba(189, 220, 252, 0.6) !important;
	border: 1px solid #2e9dd6 !important;
  	color: #303a46;
}

.dhx_header {
  background: none;
  color: #303a46;
}

.dhx_title {
  background: none;
  color: #303a46;
}

.dhx_body {
  background: none;
  color: #303a46;
}

.dhx_footer {
  background: none;
  color: #303a46;
}

.popover {
	border-radius: 4px;
    min-width: 250px;
}

.popover-title {
	background: none;
    padding-right: 8px;
    color: #303a46;
}

.popover-title-button {
    margin-left: 8px;
}

.popover-content {
  padding: 0px;
}

.popover-body {
	padding: 9px 14px 9px 14px;
    font-size: 10pt;
}

.popover-label {
    color: #81878e;
	vertical-align: top;
}

.popover-value {
	color: black;
	vertical-align: top;
}