$col-left-margin: 8px;
$col-right-margin: 7px;

.header {
  background-color: $color-lighter;
  color: $color-darker;
  padding: 3px 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  border: 1px solid $color-light;
  min-width: 1200px;
}

.cab-start-meeting {
  width: 190px;
  height: 30px;
  background-color: #00b300;
  color: white;
  float: left;
  margin-left: 50px;
  margin-top: 18px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 !important;
}

.header-timer {
  float: left;
}

.title {
  h4 {
    font-size: 20px;
  }
  float: left;
  margin-left: 5px;
  small {
    color: $color-dark;
  }
}

.nav-section {
  float: right;
  padding-top: 20px;
}

.conf-details-head {
  text-transform: uppercase;
  text-align: center;
  background-color: $color-lighter;
  color: $color-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px;
  + p {
    padding: 5px;
  }
}

.popover {
  padding: 0;
}

.popover-content {
  padding: 0;
}

.popover.bottom > .arrow:after {
  border-bottom-color: $color-lighter;
}

.popover .conf-details-body {
  padding: 10px;
}

.accessibility_live_region {
	position: absolute;
  	top: -5px;
}