.breadcrumbs {
  margin-left: 9px;
  margin-bottom: 3px;
}

.icon-filter {
  font-size: 20px;
  text-decoration: inherit; /* no underline */
}

.ng-filter-widget {
  .modal {
    .manage-filters-button {
      top: 15px;
    }

    .input-group-radio {
      input {
        margin-left: 0;
      }
    }

    .input-group-transparent {
      position: relative;

      .input-group-addon-transparent {
        position: absolute;
        font-size: 18px;
        top: 2px;
        left: 8px;
      }

      input {
        border-radius: 9999px;
        padding-left: 28px;
      }
    }

    ul {
      padding: 0 5px 10px;

      li {
        button {
          background-color: inherit;
        }

        a {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          padding: 7px 20px;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
