#agree-button {
  vertical-align: top;
}
@media only screen and (device-width: 768px) {
  .ie-popover {display:none;}
	.iframe-container {
    position: relative;
    padding-bottom: 120%;
    height: 0;
    width:100%;
    overflow: auto;
	}
  .iframe-container iframe {
    border-color:$border;
    border-width:1px;
    border-style:none;
  }
}
@media (max-width:620px) {
	.iframe-container {
    position: relative;
    padding-bottom: 120%;
    height: 0;
    width:100%;
    overflow: auto;
	}
	.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color:$border;
    border-width:1px;
    border-style:none;
	}
}