.kb-filter-block{
  font-size: 13px;
}

.panel{
  border-radius: 0 0 0 0;
  border: 1px solid #DDDDDD;
  border-bottom :0px;
  margin-bottom:0px;
}
.panel-heading{
  padding: 9px 15px;
  margin-bottom:0px;
  border-bottom :0px;
}
.panel-title{
  font-size: 13px;
}
.kb-breadcrumb{
  margin-bottom: -3px;
}
.kb-breadcrumb-item {
  margin: 0 10px 3px 0;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding-right: 16px;
}
.kb-breadcrumb-item a{
  color:#3a3f51;
}
.list-inline{
  padding-left: 10px;
}
.fa-times{
  -webkit-text-stroke: 2px #f5f5f5; 
}
.bd-title{
  display:inline-block;
  vertical-align: top;
  margin-left:17px;
}

.bd-items{
  display:inline-block;
  padding-left: 10px;
  max-width:80%;
}

.clear-all{
  float:right;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}
.cross-tag::before {
  transform: rotate(45deg);
}
.cross-tag::after {
  transform: rotate(-45deg);
}
.cross-tag::after, .cross-tag::before {
  position: absolute;
  right: 6px;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: $link-color;
  top: 3px;
}