.kb-helpful-text {
  //padding-right: 5px;
  display: inline-block;
}

.kb-button{
  margin-left : 5px;
}

.sp-helpful-percent{
  padding-left: 10px;
  display: inline-block;
}



.kb-line{
  border-color : #ccc;
}

.kb-wrapper{
  padding : 0px 25px;
}


