.kb-browse-block{
  margin: 0 -15px;
}
.kb-browse-section{

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .kb-browse-title{
    padding-bottom:10px;
  }
  .kb-header {
    font-weight: normal;
  }
  .kb-header-block {
    display: inline-block;
    h3 {
      font-size: 23px;
    }
  }
  .vertical-divider {
    padding-right: 12px;
    border-right: 1px solid #bdc0c4;
    line-height: 40px;
  }
  .kb-action-btns {
    top: -3px;
    display: inline-block;
    position: relative;
    margin-left: 2px;
  }
  .action-btns {
    margin-left:10px;
    height: 34px;
  }
  .menu-padding {
    margin-top: 2px;
  }
  .kb-browse-content{
    margin: 0;
    .kb-tile-block {

      .kb-tile{
        .kb-top-pad{
          padding-top:20px; 
        }
        .subscribe-link,.kb-top a{
         display:block; 
        }
        .kb-center{
          padding-top:2px;  
        }
        .kb-subscribe{
          text-align: left;            
          padding: 5px 10px;
          font-size: 13px;
          .unsub-icon i{
            color: $link-color;
            padding-right:4px; 
          }
          .sub-icon i{
            color: $text-muted;
            padding-right:7px; 
          }
          .sub-text{
            color:$text-muted;
          }
          .unsub-text:hover span{
            display:none;
          }
          .unsub-text:hover:after{
            content:attr(data-hover);
          }
        }
        .kb-tile-link {
          .link-icon img, .link-icon i{
            font-size: 50px;
            height:50px;
            color:#000000;
          }
          .link-text{
            height: 40px;
            padding:0 5px;
            h5 {
              color:$text-color;
              font-weight: normal;
              display:block;
              display: -webkit-box;
              font-size: 16px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align:center;
            }
            .big-title{
              position:relative;
              line-height:1.2em;
              height:2.4em;
            }
            .big-title:after {
              content:"...";
              font-weight:bold;
              position:relative;
              bottom:0;
              right:0;
              letter-spacing: .10em;
            }
          }
        }
      }
    }
    .kb-hide-me {
      display: none;
    }
  }

  .kb-bottom{
    padding:6px 15px;

    .kb-details{
      .kb-summary{
        padding:4px;
        .kb-count{
          padding:3px;
          font-size:13px;
          font-weight:400px;
        }
      }
    }

  }
  .kb-show-more{
    padding-bottom: 15px;

    .show_less i{
      vertical-align: middle; 
    }
  }
}