.kb-sort-block{
  font-size: 13px;
}
.panel{
  border-radius: 5px 5px 0 0;
  border: 1px solid #DDDDDD;
  border-bottom :0px;
  margin-bottom:0px;
}
.panel-heading{
  margin-bottom:0px;
  border-bottom :0px;
  padding: 8px 15px;
}
.sorting{
  margin-top:4px;
  text-align: right;
}
.count{
  font-size: 16px;
}
.sort-label{
  font-size: 13px;
}
.text{
  color: $text-color;
}
.text b{
  font-weight:600; 
}
.sort-list{
  display: -webkit-inline-box; 
}
.sort-icon{
  top:4px; 
}
.inline{
  display:inline-flex; 
}
.pipe{
  color:#bfc1c9;
  padding: 0 7px;
}
.list-inline{
  display:inline-flex;
  margin-bottom: 0px; 
}
.list-inline > li{
  display:inline-flex;
  padding-left: 7px;
  padding-right: 7px;
}
a:hover ,a.active{
  color: #000000;
}
.order-icons{
  padding: 0 0 0 5px;
}
.overlay-sort {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 66px;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top:-2px;
}
.overlay-content {
  position: relative;
  width: 100%; 
}
.center-align{
  text-align : center;
}
.sort-done{
  position:fixed;
  right : 20px;
  color: $link-color;
  font-size :15px;
}
.res-ul-class{
  list-style: none;
  padding : 0px;
}
.res-li-class{
  display: block;
  height: 40px;
  padding-top: 9px;
  border-bottom: 1px solid #DDD;
  padding-left: 15px;
  padding-right: 21px;
  font-size: 14px;
}
.res-check-icons{
  color:$link-color;
  float: right;
  padding-right: 0px;
  font-size: 16px;
}
.res-bold{
  font-weight: bold;
}
.overlay-header-bottom {
  border-bottom: 1px solid #DDD;
}
.updown-icon-size{
  font-size : 20px;
}