.kb-list-block{
  padding:15px 0; 
}
.content-font{
  font-size : 14px;
}
.secondary-info{
  color:#828890;
  padding-top: 3px;
  font-size: 11px;
}
.main_text{
 font-size:13px; 
}

.panel-body{
  padding : 5px 15px;
}
.list-group-item{
  list-style : none;
  //padding : 5px 15px;
  padding : 5px 0px;
  margin : 0px;
  border : none;
}
.dot{
  padding:5px; 
}
.no-padding{
}
.rating-stars{
  font-size: 10px;
  display: inline-flex;
  margin-top: -6px;
}
.glyphicon{
  line-height: 0; 
}
.glyphicon-star:before{
  color: #ffca1f;
  text-shadow: 0 0 0 #C0A909, 0 0 0 #C0A909, 0 0px 0 #C0A909, 0 1px 0 #C0A909;
}
.glyphicon-star-empty{
  color: #BDC0C4;
  text-shadow:0 0 0 #BDC0C4, 0 0 0 #BDC0C4, 0 0px 0 #BDC0C4, 0 1px 0 #BDC0C4;
}
.rating-stars [role="button"] {
  cursor: text;
}