.kb-language-block{
  padding-bottom : 10px;
}
.dd-right-menu {
	min-width :100px;
}
.kb-language{
  display: inline-flex;
  padding-top: 6px;
  padding-left : 22px;
}
.kb-language.active ,.kb-language:focus{
 color:#428bca; 
}
.lang-data{
  padding : 0 0 0 5px; 
}
.language-option:hover{
  font-weight:600;
}
a{
  color:#717171;
}
a.active{
  color:#428bca;
  font-weight: 600;
}
a:hover,a:focus{
  color:#428bca;
}