.panel{
  border-radius: 5px 5px 0 0;
  border: 1px solid #DDDDDD;
  margin-bottom:0px;
}
.panel-heading{
  padding: 10px 15px;
  margin-bottom:0px;
  height :40px;
}
.panel-title{
  color: #3A3F51;
  font-size:16px;
}
.loading-icon{
  text-align: center;
  padding: 10px;
}
.remove-bottom-border{
  border-bottom:0px;
}