.comments-submit{
  margin-top: 20px;
  //margin-right : 20px;
}
.kb-comments-content{
	margin : 0px 15px; 
}
.kb-comments-header{
  display : inline-block;
  margin : 0px;
}
.kb-comment-input{
  margin-top : 20px
}
.kb-comments-list{
  margin : 0px;
}
.kb-line{
    border-color : #ccc;
}
.kb-rate-mobile{
  padding-bottom:10px;
  margin-top : -15px;
}
.kb-end-button{
  text-align : right;
}
.kb-wrapper{
  padding : 0px 25px;
}

.kb-rate-article{
  padding-right : 10px;
}
.glyphicon:hover{
  background-color : grey;
}
.glyphicon:focus{
  background-color : grey;
}

.glyphicon-star:before{
    color: #ffca1f;
    //text-shadow: 0 0 0 #C0A909, 0 0 0 #C0A909, 0 0px 0 #C0A909, 0 1px 0 #C0A909;
}
.glyphicon-star-empty{
  color: #BDC0C4;
  //text-shadow:0 0 0 #BDC0C4, 0 0 0 #BDC0C4, 0 0px 0 #BDC0C4, 0 1px 0 #BDC0C4;
}
.rating-stars [role="button"] {
  cursor: text;
}