.set-login-type-link {
  margin-top: 10px;
  display: block;
}

.form-control,
label[for="username"],
label[for="password"] {
	color: black;
}

.btn {
	font-weight: 600;
  font-size: 2.0rem;
  background-color: #176AAD;
  border-color: #0B4E85;
}
