.toggle {
  	color: $dropdown-fallback-border;
}
.fa.active {
  color: $primary;
}

.item-table {
  background-color: #fff;
   tr {
     th {
       padding: 16px 10px;
     }
     td {
       padding: 16px 10px;
       border: none;
     }
   }
}

.btn-loadmore {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}
