.panel-body {
	margin: 0px -20px 0px -20px;
}

.fa {
font-size: 18px;
}

/* Status Icons */
.fa-check-circle {
  color: $brand-success;
}

.fa-plus-circle {
  color: $brand-primary;
}

.fa-exclamation-circle {
  color: $brand-danger;
}

.fa-minus-circle{
  color: $brand-warning;
}

.fa-info-circle {
  color: $brand-info;
}