$tag: darken(adjust-hue($primary, -5%), 10);

.qa-text {
  font-size: 15px;
  line-height: 19px;
}

.vote-block {
  	text-align: center;
	position: relative;
  	right: 10px;
  	font-size: 20px;
  	margin-bottom: 20px;
  
  	.fa {
      font-size: 20px;
    }
  	
 	.fa-sort-asc, .fa-sort-desc{
      font-size: 38px;
    }
  
  i {
    display: block;
  }
}
.fa.fa-circle.btn-divider {
  margin-right: 5px;
  margin-left: 0;
  vertical-align: inherit;
  color: $text-muted;
}

.fa.fa-circle {
  font-size: 5px;
  color: $text-color;
  vertical-align: middle;
  margin: 0 3px;
}

.question {
	h3 {
      padding: 10px 0;
    }
}

//wrappers for the voting arrow icons, they are not normalized sizes like the other icons
.vote-up-button {
	height: 19px;
}

.vote-down-button {
	margin-top: -18px; 
}

//align the vote count with the answer if the controls are hidden
.hidden-voting-controls {
  margin-top: -4px;
}

.vote {
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.option {
  padding: 0;
  padding-right: 5px;
  color: $text-muted;
}

.create-answer {
  width: 100%;
}

a.question-tag {
    color: $tag;
    background-color: lighten($tag, 50);
    border: lighten($tag, 50);
    display: inline-block;
    margin: 4px 4px 0;
    border-radius: 0;
    text-align: center;
    line-height: 1;
    padding: .4em .5em;
  
  &:first-child {
  	margin: 4px 4px 4px 0;
  }
  
  &:hover {
  	color: darken($tag, 10);
    background-color: lighten($tag, 40);
    border: lighten($tag, 40);
  }
}

.vote-icon-size {
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .vote-icon-size {
  	font-size: 2em;
  }
}

.share-icon {
  padding-right: 15px;
}

img {
  max-width: 100%;
  max-height: 480px;
}

.disabled {
  color: darken($gray-light, 15%);
  cursor: default;
}

.mobile-timeago {
	line-height: 2;
}

.answer {
  position: relative;
}

.answer.ng-enter {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 15px;
  opacity: 0;
}

.answer.ng-enter-active {
  top: 0;
  opacity: 1
}

.comment {
  position: relative;
  z-index: 2;
  background-color: inherit;
  margin-top: 5px;
  padding: 8px 0 4px !important;
  border-top: 1px dashed rgba($gray-dark, 0.25);
  
  a {
  	white-space: nowrap;
  }
  
}

.comment.ng-enter {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  bottom: 15px;
  opacity: 0;
  z-index: 1;
}

.comment.ng-enter-active {
  bottom: 0;
  opacity: 1;
}

.input-item {
  margin-bottom: 10px;
}

.comment-entry.ng-enter {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  opacity: 0;
}

.comment-entry.ng-enter-active {
  opacity: 1;
}

.comment-entry.ng-leave {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  opacity: 1;
}

.comment-entry.ng-leave-active {
  opacity: 0;
}

.unstyled-list {
	list-style: none;
}