.panel-body { 
  border: 1px solid #ccc; 
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  border-bottom-right-radius: 4px;
  padding: 0px 0px 0px 0px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.row {
  margin: 0px;
}

.cxs-result-container .col-md-12 {
  padding: 16px 0px 16px 0px;
}

.cxs-result-container .col-md-1 {
  width: 3%;
}

.cxs-result-container .col-md-11 {
  width: 97%;
}

.cxs-detail-container {
}

.cxs-detail-container .article-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cxs-detail-container .col-md-12 {
  padding: 16px;
}

.cxs-detail-container hr {
  margin-top: 6px;
  margin-bottom: 16px;
}

.cxs-results-panel {  
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  border-bottom-right-radius: 4px;
  padding: 0px;
  
  font-family: "SourceSansPro";
  font-weight: 400;
}

.cxs-results-title-bar {
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px;
  padding: 6px 12px 6px 12px;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}

.cxs-results {
  padding: 6px 12px 6px 12px;
}

.cxs-result-snippet {
  font-size: 14px;
  color: #717171;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cxs-results-title {
  font-size: 14px;
  color: #343D47;
  font-weight: 600;
}

.cxs-preview-content {
  margin-top: 16px;
  border: 1px solid #ccc;
  padding: 0px;
}

span.cxs-result-icon {
  padding-right: 8px;
}

.cxs-result-icon i {
  color: #86c0fd;
  font-size: 20px;
}

.cxs-result-icon i.push {
	margin-top: 3px;
}

i.cxs-preview-icon {
  font-size: 10px;
  color: #343D47;
}

.cxs-button-order {
  border: 1px solid #428bca;
  color: #428bca;
  font-size: 14px;
}

.cxs-button-order:hover {
  border-color: #2a6496;
  color: #2a6496;
  background-color: #eeeeee;
}

.cxs-button-order-pad {
  margin-left: 10px;
}

div.cxs-result-content {
  padding: 0px;
}

div.cxs-result-chrome {
  border-bottom: 1px solid #ccc;
}

.cxs-result-title {
  font-weight: 600;
  font-size: 16px;
  color: #428bca;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cxs-result-breadcrumbs {
  font-size: 13px;
  color: #979797;
}

.cxs-icon-star {
  font-size: 10px;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 3px;
}

.cxs-icon-star-empty {
  font-size: 10px;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 3px;
}

.cxs-action-button-icon {
  font-size: 16px;
  vertical-align: middle;
}

.cxs-meta-row {
   line-height: 0.8;
}

.cxs-ec-chevron {
    font-size: 12px;
}

.cxs-meta_row .cxs-article-info {
  display: block;
}

.cxs-preview {
  color: #343D47;
}

ul.cxs-article-info {
  padding: 0px;
  margin: 4px 0px 0px 0px;
  font-size: 13px;
}

ul.cxs-article-info > li:first-child {
  margin-left: 0px;
}

ul.cxs-article-info li {
  margin-right: 0px;
  margin-left: 0px;
  display: inline;
}

.cxs-article-info li::before {
  content: "\2022"
}

ul.cxs-article-info > li:first-child::before {
  content: ""
}

ul.cxs-article-info > li:first-child span.cxs-article-label {
  margin-left: 0px;
}

.cxs-article-label {
  margin-left: 0px;
  margin-right: 0px;
}

.cxs-article-value {
  margin-left: 0px;
  margin-right: 0px;
}

.cxs-rating-readonly {
  height: 18px;
  line-height: 18px;
  display: inline-block;
}

.b {
  border: 0px solid transparent
}

div.cxs-result-title, div.cxs-meta-row {
  padding-bottom: 8px;
}

.cxs-button-bar {
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}

.cxs-button-bar button {
	vertical-align: middle;
}

.cxs-results-button-bar {
  height: 45px;
  line-height: 45px;
  text-align: center;
}

button.cxs-hlp-btn {
  line-height: 16px;
  margin: 0px 0px 3px 0px;
}

span.cxs-hlp-btn-label {
  vertical-align: middle;
  font-size: 14px;
}

span.cxs-results-vcr {
  text-align: center;
}

i:before {
  vertical-align: baseline;
}

img.cxs-result-image, img.cxs-record-image {
  width: 100%;
}

.icon-star {
  color: gold;
  font-size: 10px;
}

.icon-star-empty {
  color: #343D47;
  font-size: 10px;
}

.panel-heading { display: none; }

.side-box {
  margin: 0 0;
  border: #bdc0c4 1px solid;
}

.side-box .box {
  padding: 5px;
  display: inline-block;
  width: 49%;
}

.side-box .box:nth-child(2) {
  border-left: #bdc0c4 1px solid;
}

.side-box .box .number-box {
  direction: ltr;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.side-box .box .text-box {
  font-size: 11px;
  color: #bdc0c4;
  text-align: center;
}

.btn-icon {
  background: none;
  padding: 3px;
  border: none;
  border-top-color: initial;
  border-top-style: none;
  border-top-width: initial;
  border-right-color: initial;
  border-right-style: none;
  border-right-width: initial;
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: initial;
  border-left-color: initial;
  border-left-style: none;
  border-left-width: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.cxs-preview-button {
  font-size: 20px;
  color: #343D47;
}

.cxs-lozenge {
  color: white;
  font-size: 11px;
  background-color: #3d89cb;
  padding: 2px 6px 2px 6px;
  margin-left: 10px;
  border-radius: 5px;
}

.cxs-record-short-description {
  overflow-wrap: break-word;
  word-wrap: break-word; 
}

#sp_cxs_aria_status {
	font-size:0px !important;
}

.cxs-aria-status {
	border: 1px solid #bdc0c4;
	padding: 10px;
	min-height: 1em;
	text-align: center;
}

.sp-cxs-a11y {

	.cxs-result-breadcrumbs span, .number-box, .text-box {
		color: #777474 !important;
	}
	.cxs-lozenge {
		background-color: #006ee0 !important;
	}

}