.bs-callout {
  margin: 10px 0 !important;
  padding: 20px !important;
  border-left-style: solid;
  border-left-width: 10px;
  color: $gray-dark;
}

.bs-callout-outage {
  background-color: lighten($danger, 40%);
  border-color: $danger;
}

.bs-callout-degradation {
  background-color: lighten($warning, 35%);
  border-color: $warning;
}

.bs-callout-planned {
  background-color: lighten($info, 35%);
  border-color: $info;
}

.bs-callout-success {
  background-color: lighten($success, 40%);
  border-color: $success;
}

.tooltip-inner {
    width: 150px;
}

div.sp-outage-details {
  margin-bottom: -10px;
}
