
div[role="link"], tr[role="link"] {
  cursor: pointer;
}

.indicator-header-row {
  margin-top: -10px;
}

.kpi-table-container, .cards-container {
  margin:10px auto;
}

.kpi-card {
  padding: 0 10px 20px 10px;

  .panel.panel-default {
    position: relative;
  }

  .panel-body {
    min-height: 180px;
  }

  .trend-panel {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #455464;
    top: 0;
    left: 0;
    z-index: 100;

    .close-icon,
    .loading-icon,
    .chart-footer {
      position: absolute;
      z-index: 1000;
      color: #eeeeee;
    }

    .close-icon {
      right: 0;
      top: 0;

      .close-text {margin-right: 4px;}
      .glyphicon-remove {top: 2px}
    }

    .loading-icon,
    .chart-footer {
      width: 100%;
    }

    .loading-icon {
      top: 45%;
      width: 100%;
      text-align: center;
    }

    .chart-footer {
      bottom: 15px;
    }
  }

  .trend-panel.ng-hide {
    opacity: 0;
  }

  .trend-panel,
  .trend-panel.ng-hide-add,
  .trend-panel.ng-hide-remove {
    transition: all 300ms ease-out;
  }

  .trend-panel .trend-container {
    color: white;
    height: 100%;
    width: 100%;
  }

  .their-score {
    font-weight: 600;
    margin: 5px 0 8px 0;
    line-height: 1.1;
    font-size: 18px;
  }

  .trend-icon {
    margin: 3px 20px 0 0;
  }

  .b-trend-link {
    margin-top: -3px;
  }

}

.kpi-card .b-trend-link,
.kpi-card .trend-icon button,
.dl-btn {
  padding: 0;
  border: none;
}

.kpi-table .kpi-heading {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.kpi-table th,
.kpi-table td {
  padding: 16px 9px;
  border: none;
}

.kpi-table .row-item,
.kpi-table .difference {
  padding-top: 4px;
  padding-bottom: 4px;
}

.kpi-table .row-item .info-icon {
  margin-left: 4px;
}

.kpi-card .difference {
  font-size:12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.kpi-table th {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: none;
}

.kpi-table > thead > tr > th:first-child,
.kpi-table > tbody > tr > td:first-child {
  padding-left: 24px;
}

.kpi-table > thead > tr > th:last-child,
.kpi-table > tbody > tr > td:last-child {
  padding-right: 24px;
}

.label {
  font-size: 90%;
  font-weight: normal;
}

.label-grey {
  background: #81878E;
}

.kpi-table .diff-label-wrapper {
  margin-top: 4px;
}

.kpi-card .score-diff-wrapper {
  display: inline-block;
}

.triangle-container {padding:0;}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 8px solid #c00;
  border-right: 8px solid transparent;
  border-left: 8px solid #c00;
  border-bottom: 8px solid transparent;
  border-radius: 3px 0 0 0;
}

.download-button span.fa-download,
.view-toggle-buttons {
  font-size: 24px;
}

.black-btn { color: inherit; }
.black-btn:hover,
.black-btn:focus {
  color: #000;
}

.view-toggle-buttons {
  padding: 0 0 0 20px;
}

.view-toggle-buttons:active {
  box-shadow: none;
}

.view-toggle-buttons.b-off {color: #d8d8d8;}

.report-download-cont {
  margin-top:30px;
  margin-bottom:10px;
}

.breakdown-row {
  margin-top: 20px;
  margin-bottom: 16px;
}

.breakdown-row .filter-text.bm-desktop-only {
  text-align: right;
  margin-top: 11px;
}

.breakdown-row.hidden-xs .col-np,
.breakdown-row .col-np-fixed {
  padding-left: 0;
  padding-right: 0;
}

.breakdown-row .download-button {
  margin-top: 10px;
}

.breakdown-row .filter-element,
.toggle-buttons {
  margin-top: 4px;
}

.detail-view {
  .score, .score-indicator {
    display: inline-block;
  }
  .score { margin-top: 4px; }
  .score-indicator {
    position:relative;
    top: -5px;
    left: 10px;
  }
}

#chart-container {
  margin-top:20px;
}

.category-container {
  cursor: auto;
  position: relative;

  .category-selector {
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 0;
    width: 300px;
    margin: 10px 8px;

    .c-selected {
      color: #444;
    }

    .c-unselected {
      cursor: pointer;
    }
  }

  a.black-btn {
    margin-left: 6px;
  }

  .subhead {
    font-size: 16px;
    .sh-label { font-weight: 600; }
    .sep { margin:0 3px 0 6px; }
    .filter-button {
      margin-left: 3px;
      cursor: pointer;
    }
  }
}

.tabs-row {
  margin: 10px 0;

  .item {
    a {
      color: inherit;
      text-transform: uppercase;
    }
    a:hover {
      border-bottom-width: 3px;
      border-bottom-style: solid;
    }
  }

  .item.selected a {
    font-weight: 600;
    border-bottom: 3px solid #428bca;
  }
}

.tabs-row.visible-xs {margin-top: 5px;}

.breakdown-row.visible-xs {
  margin-left: -2px; /* To offset the funky markup */
}

.line-sep {
  margin-bottom: 15px;
  border-bottom: 1px solid #CDCDCD;
}

.perf-trend {
  margin-top: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.their-score-val {
  transition: all 500ms ease-in-out;
}

.kpi-card .os-sm {font-size: 22px;}

.detail-desc {
  white-space: pre-line;
}

.perf-trend .expand-icon {
  margin-right: 4px;
}

.kpi-card .clickable-panel:focus,
.kpi-table tr:focus {
  outline: 3px auto #3b99fc;
  outline-color: -webkit-focus-ring-color;
}
