.row.info-row:hover {
	background-color: #f0f0f0;
}

a.widget-button {
    float: right;
    clear: both;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #B9B9B9;
    color: #fff;
    padding: 3px 10px;
    font-weight: 100;
}
 
a.widget-button:hover {
	background-color: #428bca;
}

.row.info-row>div {
	height: 35px;
	cursor: pointer;
    padding-top: 9px;
}

.team_header {
	font-size: 15px;
	margin: 20px 0 5px 0;
	color: #428BCA;
}

.more_link {
	font-size: 90%;
    padding: 10px;
}

.hide-element {
	visibility: hidden;
}

.fa-2x {
  font-size: 1.5em;
  margin-top: -3px;
}