.list-group-item {
  .fa-fw {
    margin-right: 5px;
  }
}

.indent-category {
  margin-left: 25px;
}

.selected {
  color: $primary !important;
}

.list-group {
  margin-bottom: 0px;
  padding: 10px;

  a.list-group-item {
  	border: 0;
    padding: 5px 5px;
    margin-bottom: 2px;
    color: $link-color;

    .badge {
    	background-color: #0574DE;
      border-radius: 1em;
    }
  }
}