.panel-button {
  float: none;
}

.sp-attachment-add {
  padding: 5px;
}

.p-t-none {
  padding-top: 0 !important;
}

.file-list-wrap {
	margin-bottom: 10px;
}

.quantity-selector {
  display: inline-block;
  width: 65px;
  padding-top: 2px;
}