.question-label, .category-label, .title-label, .description-text, .sps-checkbox-label, .sps-radio-label, .sps-scale-radio-label, .details-text, .assessable-record-text{
	color:black;
}

.assessable-record{
	margin-left : -1px;
  	margin-top : -1px;
    margin-right : -1px;  
  	background : #eff3f4;
  	padding:4px 4px;
}
.assessable-record-text{
	margin-left : 15px;
}

.category-description{
	margin-left: 16px;
    color : #e6e8ea;
	font-weight : 100;
}

.sp-attachment-block-single-line {
	margin-bottom:6px;
}

.sps-scale-radio-label {
	padding-left:12px;
}

.sps-panel-spacer{
  margin : 24px;
}

.survey-heading-text {
  	margin: 4px 0px 4px 15px;
}

.intro-text .survey-icon, .survey-heading {
	color:white;
}

.intro-text .survey-icon {
	font-size:4em;
}

.intro-text .outer-circle, .survey-heading {
	background: #3071a9;
}

.intro-text .outer-circle{
	padding: 10px 22px 22px 18px;
	display:inline-block;
	border-radius:100%;
}

.intro-icon-assessment{
  margin-left:4px;
  margin-top:4px;
}

.survey-heading{
  padding: 3px 6px;
  font-weight: 100;
}

.visible-xs .details-text {
	margin-bottom:16px;
}

.visible-xs .input-group-checkbox {
	padding: 0 20px;
}

.sps-ranking-list li.hovered {
  cursor: move;
  background-color: #eee;
}

li.sortable-ghost {
	visibility: hidden;
}

.field-has-reference {
	padding-right:0 !important;
}