.survey-panel-spacer{
  margin : 24px;
}

.survey-title {
  font-weight: bold;
}

.survey-title a {
  color:black;
}

.card-bottom {
  margin-top:9px;
}

.progress-bar, .progress-bar-inner {
  width:100%;
  height:9px;
  border-radius:4px;
}

.progress-bar {
  background:#BDC3C7;
  margin-top:5px;
}

.progress-bar-inner {
  background:#278efc;
}
