.question-label, .category-label, .title-label, .description-text, .sps-checkbox-label, .sps-radio-label, .sps-scale-radio-label, .details-text {
	color:black;
}

.sp-attachment-block-single-line {
	margin-bottom:6px;
}

.sps-scale-radio-label {
	padding-left:12px;
}

.sps-panel-spacer{
  margin : 24px;
}

.intro-text .survey-icon, .survey-heading {
	color:white;
}

.intro-text .survey-icon {
	font-size:4em;
}

.intro-text .outer-circle, .survey-heading {
	background: #3071a9;
}

.intro-text .outer-circle {
	padding: 20px 22px 17px 18px;
	display:inline-block;
	border-radius:100%;
}

.visible-xs .survey-heading {
	padding: 6px 12px;
	font-weight: 100;
}

.visible-xs .details-text {
	margin-bottom:16px;
}

.visible-xs .input-group-checkbox {
	padding: 0 20px;
}

.sps-ranking-list li.hovered {
  cursor: move;
  background-color: #eee;
}

li.sortable-ghost {
	visibility: hidden;
}

.field-has-reference {
	padding-right:0 !important;
}
