<div class="breadcrumbs">
  <button type="button"
          role="button"
          ng-show="data.enable_filter"
          ng-click="clickFilter()"
          title="Show / hide filter"
          class="icon-filter btn btn-link"
          tabindex="0"
          data-original-title="Show / hide filter"><span class="sr-only">${Show / hide filter}</span></button>
  <span ng-repeat="crumb in data.breadcrumbs track by crumb.value">
    <a href="javascript:void(0)" ng-if="!$first" class="sp-breadcrumb-link sp-breadcrumb-remove-condition" ng-click="adjustFilter(crumb, true)">&gt;</a>
    <a href="javascript:void(0)" class="sp-breadcrumb-link" ng-click="adjustFilter(crumb, false)">{{crumb.label}}</a>
  </span>
</div>

<div ng-if="data.enable_filter">
  <span ng-show="showFilter">
    <sp-widget widget="data.filterWidget"></sp-widget>
  </span>
</div>