<div class="panel panel-default">
  <div class="panel-heading">
    <h4 style="margin-top: 0; margin-bottom: 0">
      <span ng-if="::data.glyph" class="fa-stack">
        <i class="fa fa-circle text-{{::data.color}} fa-stack-2x"></i>
        <i class="fa fa-{{::data.glyph}} fa-stack-1x fa-inverse"></i>
      </span>
      <span>{{::data.title}}</span>
    </h4>
    <div>{{::data.short_description}}</div>
  </div>

  <div class="list-group">
    <a class="list-group-item no-border" href="{{::item.href}}" ng-repeat="item in ::data.items">
      <i ng-if="::item.glyph" class="fa fa-{{::item.glyph}} m-r-sm"></i>
      <i ng-if="::!item.glyph" class="fa fa-chevron-right m-r-sm"></i> {{::item.label}}</a>
  </div>
</div>
