<sp-panel ng-if="data.articles.length > 0" >
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="a in data.articles">
      <a href="?id=kb_article&sys_id={{::a.sys_id}}">{{::a.short_description}}</a>
      <div>
        <span ng-if="a.sys_view_count == 1" class="views pad-right">
          <glyph sn-char="eye-open" class="pad-right" />
          ${{{::a.sys_view_count}} View}
        </span>
        <span ng-if="a.sys_view_count > 1" class="views pad-right">
          <glyph sn-char="eye-open" class="pad-right" />
          ${{{::a.sys_view_count}} Views}
        </span>
        <span ng-if="false" class="published pad-right">
          <span ng-if="a.sys_view_count > 0" class="pad-right">&#8226;</span> <glyph sn-char="calendar" class="pad-right" />
          <sn-day-ago date="a.published"/>
        </span>
      </div>
    </li>
  </ul>
</sp-panel>