<div ng-click="c.toggleSelector($event, false)" role="presentation">
<now-message key="N/A" value="${N/A}"></now-message>
<now-message key="days" value="${days}"></now-message>
<now-message key="hour" value="${hour}"></now-message>
<now-message key="hours" value="${hours}"></now-message>
<now-message key="Benchmarks" value="${Benchmarks}"></now-message>
<now-message key="Your Instance" value="${Your Instance}"></now-message>
<now-message key="Global Benchmark" value="${Global Benchmark}"></now-message>
<now-message key="6 month history" value="${6 month history}"></now-message>
<now-message key="KPI Performance Trends" value="${KPI Performance Trends}"></now-message>
<now-message key="KPI Name" value="${KPI Name}"></now-message>
<now-message key="Benchmark" value="${Benchmark}"></now-message>
<now-message key="Monthly Change" value="${Monthly Change}"></now-message>
<now-message key="Month" value="${Month}"></now-message>
<now-message key="Industry" value="${Industry}"></now-message>
<now-message key="Number of users" value="${Number of users}"></now-message>
<now-message key="Summary" value="${Summary}"></now-message>
<now-message key="Your Industry" value="${Your Industry}"></now-message>
<now-message key="Compared with" value="${Compared with}"></now-message>
<now-message key="No data to display" value="${No data to display}"></now-message>
<now-message key="Data unavailable in Performance Analytics scorecard" value="${Data unavailable in Performance Analytics scorecard}"></now-message>
<style>
section.page {
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .row .breakdown-row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .subhead-wrapper {margin-top: 20px;}

  .breakdown-row .filter-text.bm-desktop-only {
    text-align: left !important;
  }
}
</style>
<div class="indicator-header-row" ng-if="!c.error">
  <div class="container">

    <!-- Top row with heading and download buttons -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 category-container">
        <div ng-if="c.view.overview">
          <h2 class="category-title">{{data.categories.idMap[c.category.id].display}}&nbsp;
            <a href class="black-btn" ng-if="data.categories.idList.length > 1" ng-click="c.toggleSelector($event)">
              <small>
                <span class="sr-only">${Select category}</span>
                <span class="glyphicon glyphicon-menu-down"></span>
              </small>
            </a>
          </h2>
        </div>
        <div ng-if="!c.view.overview">
          <h2 class="indicator-title">{{data.indicators.idMap[c.view.id].display}}</h2>
        </div>
        <div class="category-selector panel panel-default" ng-show="c.categorySelector">
          <div class="panel-body">
            <div class="wrapper-xs" ng-repeat="id in data.categories.idList" ng-init="category = data.categories.idMap[id]">
              <a class="black-btn" ng-click="c.changeCategory($event, id)" aria-label="${Select category}" href>
                <span ng-class="(id == c.category.id) ? 'c-selected' : 'c-unselected'">{{category.display}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="subhead-wrapper">
          <h3 class="subhead summary-month visible-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            <span class="sh-label">${Summary:}</span>&nbsp;{{data.months.idMap[data.months.current].display}}<span class="sep hidden-xs" ng-if="yourIndustry">|</span>
          </h3>
          <h3 class="subhead our-industry visible-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" ng-if="yourIndustry">
            <span class="sh-label">${Your Industry:}</span>
            <span>&nbsp;{{yourIndustry}}</span>
          </h3>
        </div>
      </div>
      <!-- Filter options -->
      <div class="col-xs-12 col-sm-6 breakdown-row">
        <bm-kpi-filters category="c.category.id" industry="yourIndustry" data="c.data" id="1" c="c"></bm-kpi-filters>
      </div>
    </div>

    <!-- Group Tabs -->
    <div class="row" ng-if="c.view.overview">
      <div class="col-xs-12">
        <div class="tabs-row hidden-xs">
          <ul class="nav nav-tabs">
            <li class="item" ng-class="c.category.group == '' ? 'selected' : ''" ng-click="c.category.group = ''" role="presentation" tabindex="-1">
              <a role="tab" href>${All}</a>
            </li>
            <li class="item" ng-repeat="id in data.groups.idList" ng-init="group = data.groups.idMap[id]" role="presentation" tabindex="-1"
              ng-class="c.category.group == id ? 'selected' : ''" ng-click="c.category.group = id" ng-show="c.category.id == group.category">
              <a role="tab" href>{{group.display}}</a>
            </li>
          </ul>
        </div>
        <div class="tabs-row visible-xs">
          <label for="group-selector">${Sort by:}</label>
          <select ng-model="c.category.group" ng-change="c.changeGroup()" name="group-selector" id="group-selector" data-placeholder="${All}">
            <option value=""></option>
            <option ng-repeat="id in data.groups.idList" ng-init="group = data.groups.idMap[id]" value="{{id}}"
              ng-show="c.category.id == group.category">{{group.display}}</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container" ng-if="c.error">
  <div ng-if="data.optedIn" class="alert alert-danger">${No data found}</div>
  <div ng-if="!data.optedIn" class="alert alert-danger">${You are not opted in to ServiceNow Benchmarks}</div>
</div>
<div ng-if="!c.error">
  <div class="container">

    <div class="row" ng-if="c.view.overview && !c.data.isMobile">
      <!-- View toggle buttons -->
      <div class="col-xs-12 text-right toggle-buttons">
        <bm-kpi-view-toggles options="c.options" c="c"></bm-kpi-view-toggles>
      </div>
    </div>
    <!-- end row -->

    <!-- List of KPIs -->
    <div ng-if="c.view.overview">
      <bm-kpi-overview c="c" list-view="c.options.listView" category="c.category" update-url="c.updateUrl" get-trend="c.getTrend"></bm-kpi-overview>
    </div>

    <div ng-if="!c.view.overview">
      <bm-kpi-details item="data.indicators.idMap[c.view.id]" months="data.months" breakdown="c.data.breakdown" update-url="c.updateUrl" is-mobile="c.data.isMobile" c="c"></bm-kpi-details>
    </div>

  </div>
</div></div>
<div class="wrapper-md"></div>