<div class="flex-row items-stretch" role="branding-editor">

    <aside class="flex-shrink" role="portal-config">
        <div role="portal-picker">
            <sn-record-picker field="c.data.portal" display-field="'title'" 
                              on-change="c.changePortal(val)" table="c.data.portalTable" 
                              options="{allowClear: false}"></sn-record-picker>
            <button class="btn btn-warning btn-block" role="portal-undo"
                    ng-if="c.canUndo" ng-click="c.undo()"><fa name="undo" /> ${Reset Changes}</button>   
      </div>
      
        <div role="portal-config-content" ng-if="c.data.portal">
          <p ng-if="c.data.outOfScope" class="sp-out-of-scope">${This portal is in the <strong>{{data.recordScopeLabel}}</strong> application, but <strong>{{data.currentScopeLabel}}</strong> is your current application}</p>
          <uib-tabset justified="true">
                <uib-tab select="c.setPagePreview(c.quickSetupPreviewPage)" heading="{{::data.quickSetupMsg}}">
               
                  
<!-- tab: quick setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">${Title and Logo}</h3>
    </div>
    <div class="panel-body">

        <sp-editable-field2
                editable-by-user="true"
                table="{{c.data.fieldModel.title.table}}"
                table-id="c.data.fieldModel.title.sys_id"
                field-model="c.data.fieldModel.title.field"
                on-change="c.onTitleChange"
                label="{{::data.portalTitleMsg}}"></sp-editable-field2>

        <sp-editable-field2
                class="logo"            
                editable-by-user="true"
                table="{{c.data.fieldModel.logo.table}}"
                table-id="c.data.fieldModel.logo.sys_id"
                field-model="c.data.fieldModel.logo.field"
                on-change="c.onLogoChange"
                on-submit="logoSubmit"></sp-editable-field2>

        <div class="slider-group form-group" ng-if="c.data.fieldModel.logo.field.displayValue != ''">
            <label>${Logo Padding}</label>
            <div class="sl-x">
                <div class="sl-label">${Left}:</div>
                <div class="sl-element">
                    <slider ng-model="theme.logoPaddingX" ng-model-options="{getterSetter: true}" min="2" max="15"
                            on-stop-slide="setLogoPaddingX($event, value)"
                            updateevent='["slideStop"]'/>
                </div>
            </div>
            <div>
                <div class="sl-label">${Top}:</div>
                <div class="sl-element">
                    <slider ng-model="theme.logoPaddingY" ng-model-options="{getterSetter: true}" min="2" max="15"
                            slider-tooltip-position="bottom" 
                            on-stop-slide="setLogoPaddingY($event, value)"
                            updateevent='["slideStop"]'/>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <p>${Use title and logo to represent your brand across all pages of a portal}</p>
    </div>
</div>

<div class="panel panel-default" ng-if="hasTagLineProperties">
    <div class="panel-heading">
        <h3 class="panel-title">${Tag Line and Background}</h3>
    </div>
    <div class="panel-body">
        
        <sp-editable-field2
                editable-by-user="true"
                table="{{c.data.fieldModel.tagline.table}}"
                table-id="c.data.fieldModel.tagline.sys_id"
                field-model="c.data.fieldModel.tagline.field"
                ng-if="c.data.fieldModel.tagline.field"            
                on-change="c.onTagLineChange"
                label="{{::data.tagLineMsg}}"></sp-editable-field2>
      
        <sp-editable-field2
                editable-by-user="true"
                table=""
                table-id="''"
                field-model="c.data.fieldModel.taglineColor"
                ng-if="c.data.fieldModel.taglineColor" 
                on-change="setThemeProp"
                label="{{::data.tagLineColorMsg}}"></sp-editable-field2>
      
        <sp-editable-field2
                editable-by-user="true"
                table=""
                table-id="''"
                field-model="c.data.fieldModel.homepageBackgroundColor"
                ng-if="c.data.fieldModel.homepageBackgroundColor"            
                on-change="setThemeProp"
                label="{{::data.homepageBkgdColorMsg}}"></sp-editable-field2>

        <sp-editable-field2
                class="hero"
                editable-by-user="true"
                table="{{c.data.fieldModel.hero.table}}"
                table-id="c.data.fieldModel.hero.sys_id"
                field-model="c.data.fieldModel.hero.field"
                ng-if="c.data.fieldModel.hero.field"            
                label="{{::data.bkgdImageMsg}}"
                on-change="c.onHeroChange"></sp-editable-field2>

    </div>
    <div class="panel-footer">
        <p>${Reinforce your company theme with company graphics and colors}</p>
    </div>
</div>

                </uib-tab>
                <uib-tab select="c.setPagePreview(c.themePreviewPage)" heading="{{::data.themeColorsMsg}}">              
                  
                    <div class="panel panel-default" ng-repeat="group in c.data.colorModel" ng-hide="group.title == ''">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{::group.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <span ng-repeat="vModel in group.variables">
                                <sp-editable-field2 
                                    editable-by-user="true" table="" table-id="''" 
                                    on-change="setThemeProp" 
                                    field-model="vModel"></sp-editable-field2>
                            </span>                           
                        </div>
                    </div>                      
                  
                </uib-tab>
            </uib-tabset>
        </div>
    </aside>
    
    <main clas="flex-grow" role="page-preview">
        <div ng-if="c.isPreviewLoading" class="loading"><h2>${Loading...}</h2></div>
        <iframe data-portal-id="{{c.data.portal_id}}" 
                ng-hide="c.isPreviewLoading" 
                ng-if="c.previewPageUrl.length" 
                ng-src="{{c.previewPageUrl}}"></iframe>
    </main>
</div>
