<div class="panel panel-{{c.options.color}} b" ng-if="always_show || data.list.length">
  <div class="panel-heading">
    <h2 class="panel-title">{{::c.data.title}}</h2>
  </div>
  <div class="list-group">
    <div ng-repeat="item in data.list" class="block list-group-item" >
      <a ng-click="onClick($event, item, item.url, {})" href="javascript:void(0)" >
        <span ng-if="data.image_field" class="pull-left thumb-sm avatar m-r">
          <img ng-src="{{item.image_field}}" alt="..." class="img-circle">
        </span>
        <div >
          <div ng-class="{'l-h-40': !item.secondary_fields.length}">{{item.display_field}}</div>
          <small class="block text-muted m-b-xs" ng-repeat="f in item.secondary_fields">
            <span ng-if="!$first"> • </span>
            <span ng-switch="f.type" title="{{::f.label}}">
              <span ng-switch-when="glide_date"><sn-time-ago timestamp="::f.value" /></span>
              <span ng-switch-when="glide_date_time"><sn-time-ago timestamp="::f.value" /></span>
              <span ng-switch-default="">{{f.display_value}}</span>
            </span>
          </small>
        </div>
      </a>
      <div ng-if="item.cl.length > 0" class="requested-items-flex-container">
        <button class="flex-item" role="button" ng-click="toggle($event, item)" aria-expanded="{{item.expand}}" aria-label="${collapse state of request}">
          <img ng-if="item.expand" src="images/filter_hide16.gifx"  alt="${Expand state of request}"/>
        	<img ng-if="!item.expand" src="images/filter_reveal16.gifx" alt="${Expand state of request}"/>
        </button>
        <div class="flex-item" ng-if="!item.expand">
         <span ng-repeat="stage in item.cl">
            <span ng-if="stage.value == item.stage">
              <img src="/images/sp-icon-check-circle.png" data-toggle="tooltip" data-placement="top" ng-attr-title="{{stage.label}}" />
            </span>
            <span ng-if="stage.value != item.stage">
              <img src="/images/sp-icon-empty-circle.png" data-toggle="tooltip" data-placement="top" ng-attr-title="{{stage.label}}" />
            </span>
          </span>
        </div>
        <div class="flex-item" ng-if="item.expand">
          <div ng-repeat="stage in item.cl">
            <div ng-if="stage.value == item.stage" class="stage-on">
              <img src="/images/sp-icon-check-circle.png" alt="{{stage.label}} ${checked}" role="image"/>
              <span aria-hidden="true">{{stage.label}}</span>
            </div>
            <div ng-if="stage.value != item.stage" class="stage-off text-muted">
              <img src="/images/sp-icon-empty-circle.png" alt="{{stage.label}} ${un-checked}" role="image"/>
              <span aria-hidden="true">{{stage.label}}</span>
            </div>
          </div>
    </div>
  </div>
</div>