<div>
  <h4 ng-if="data.error">{{data.error}}</h4>
  <div ng-init="spSearch.targetCatalog()">
    <h1 class="h4 m-t-none" aria-label="{{data.category}} ${Category}">{{data.category}}</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-if="!data.items.length && !data.error">
        ${No items in category}
      </div>
      <div class="col-sm-6 col-md-4" ng-repeat="item in data.items | orderBy: 'order' track by item.sys_id">
        <div class="panel panel-{{::options.color}} b">
          <a target="{{::item.target}}" ng-href="{{::getItemHREF(item)}}" ng-click="onClick($event, item)" class="panel-body block">
            <div class="overflow-100">
              <h2 class="h4 m-t-none m-b-xs">{{::item.name}}<span ng-if="item.content_type == 'external'" aria-label="${External Link}"> ➚</span></h2>
              <img ng-src="{{::item.picture}}" ng-if="item.picture" alt="{{::item.name}}" class="m-r-sm m-b-sm item-image pull-left" />
              <div class="text-muted item-short-desc">{{::item.short_description}}</div>
            </div>
          </a>
          <div aria-hidden="true" class="panel-footer">
            <a aria-hidden="true" ng-if="item.sys_class_name != 'sc_cat_item_content' || item.content_type == 'kb' || item.content_type == 'literal'" ng-click="onClick($event, item)" ng-href="{{getItemHREF(item)}}" class="pull-left text-muted" tabindex="-1">${View Details}</a>
            <a aria-hidden="true" ng-if="item.sys_class_name == 'sc_cat_item_content' && item.content_type == 'external'" ng-click="onClick($event, item)" ng-href="{{getItemHREF(item)}}" target="_blank" class="pull-left text-muted" tabindex="-1">${View Details}</a>
            <span ng-if="data.showPrices && item.hasPrice" class="pull-right item-price font-bold">{{item.price}}</span> &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>