<ul ng-if="::user.logged_in" class="nav navbar-nav" aria-label="${User menu}">
  <!-- chat, avatar, and logout -->
  <li ng-if="::data.connect_support_queue_id"><a href ng-click="openPopUp()">${Live Chat}</a></li>
  <li class="dropdown hidden-xs">
    <a href class="dropdown-toggle" data-toggle="dropdown">
      <span class="navbar-avatar"><sn-avatar class="avatar-small-medium" primary="userID" /></span>
      <span class="visible-lg-inline">{{::user.name}}</span>
    </a>
    <ul class="dropdown-menu">
      <li><a ng-href="?id=user_profile&sys_id={{::user.sys_id}}">${Profile}</a></li>
      <li><a href="{{::portal.logoutUrl}}">${Logout}</a></li>
    </ul>
  </li>
  <li class="visible-xs-block"><a ng-href="?id=user_profile&sys_id={{::user.sys_id}}"><span class="navbar-avatar"><sn-avatar class="avatar-small-medium" primary="userID" /></span>{{::user.name}}</a></li>
  <li class="visible-xs-block"><a href="{{::portal.logoutUrl}}">${Logout}</a></li>
</ul>  

