<div class="panel panel-default" ng-if="::c.hasVariables(data.sc_cat_item._fields)">
  <div class="panel-heading">
    <h3 ng-if="data.itemTitle" class="panel-title">{{data.itemTitle}}</h3>
    <h3 ng-if="!data.itemTitle" class="panel-title">${Variables}</h3>
  </div>
  <div class="panel-body">
    <sp-model form-model="data.sc_cat_item" mandatory="[]"></sp-model>
  </div>
  <div ng-if="c.showSave" class="panel-footer">
    <button class="btn btn-primary pull-right" name="save" ng-click="c.save()">${Save}</button>
	  <div style="clear: both;"></div>
  </div>
</div>