<div class="row">
  <div class="col-sm-3 hidden-xs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">${Ask a Question}</div>
      </div>
      <div class="panel-body">
        <p>${We prefer questions that can be <i>answered</i>, not just discussed}</p>
        <p>${Give as much detail as possible}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading visible-xs">
        <div class="panel-title">${Ask a Question}</div>
      </div>
      <div class="panel-body">
        <sp-form-field form-model="data.f" field="data.f._fields.question" glide-form="getGlideForm()"></sp-form-field>
        <div ng-show="data.questionSuggestions.length > 0">
          <div>
            <strong>${Questions that may already have your answer}</strong>
          </div>
          <div class="suggested-question-container">
            <div ng-repeat="question in data.questionSuggestions" class="question-summary">
              <span ng-class="{'hide-element': !question.acceptedAnswer}"
                    class="fa fa-check-circle text-success"
                    title="${Question contains a verified answer}"></span>
              <a ng-href="?id=kb_social_qa_question&sys_id={{question.sys_id}}" target="_blank">{{question.title}}</a>
            </div>
          </div>
        </div>
        <sp-form-field form-model="data.f" field="data.f._fields.question_details" glide-form="getGlideForm()"></sp-form-field>
        <sp-tag-list ng-model="tagList" type-tag-name-msg="data.typeTagNameMsg"></sp-tag-list>
      </div>
      <div class="panel-footer">
        <a ng-disabled="status"
                name="submit"
                ng-click="update()"
           		href=""
                class="btn btn-primary">
          <span ng-show="status">{{status}}</span>
          <span ng-show="!status">${Post question}</span>
        </a>
      </div>
    </div>
  </div>
</div>
