<form class="form-inline well">
  <div class="form-group" ng-class="{'has-error': (c.errorMessage), 'has-success': (c.channel)}">
    <label class="control-label" for="inputSuccess">${Location}</label>
    <input type="text" class="form-control" id="weatherInput" placeholder="{{::data.enterLocMsg}}" ng-model="c.data.place">      
    <button type="submit" class="btn btn-default" ng-click="c.getWeather();">${Go}</button>
    <span class="help-block" ng-bind="c.errorMessage" ng-if="c.errorMessage"></span>
  </div>
</form>
<div class="panel panel-default" ng-if="c.channel">
  <div class="panel-body">
    <p>${Location}: {{c.channel.location.city}}, {{c.channel.location.region}} {{c.location.country}}</p>
    <p>${Temperature}: {{c.channel.item.condition.temp}}</p>
    <p>${Condition}: {{c.channel.item.condition.text}}</p>
    <p>{{c.channel.item.condition.date}}</p>
  </div>
</div>
